body {
  margin:0px;
  background-color:rgba(247, 248, 252, 1);
  background-image:none;
  position:static;
  left:auto;
  width:1282px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u11271 {
  position:fixed;
  left:0px;
  top:0px;
  width:1300px;
  height:48px;
  overflow:hidden;
}
#u11271_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:1300px;
  height:48px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-color:rgba(255, 255, 255, 1);
  background-image:none;
}
#u11271_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u11272_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1300px;
  height:48px;
}
#u11272 {
  position:absolute;
  left:0px;
  top:0px;
  width:1300px;
  height:48px;
}
#u11273 {
  position:absolute;
  left:2px;
  top:16px;
  width:1296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11274 {
  position:absolute;
  left:22px;
  top:4px;
}
#u11274_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u11274_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u11275_img {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:40px;
}
#u11275 {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:40px;
}
#u11276 {
  position:absolute;
  left:2px;
  top:12px;
  width:117px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11277 {
  position:fixed;
  left:182px;
  top:14px;
  width:60px;
  height:20px;
  overflow:hidden;
}
#u11277_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:20px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u11277_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u11278_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u11278 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u11278_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u11278.mouseOver {
}
#u11279 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u11280 {
  position:fixed;
  right:228px;
  top:0px;
  width:78px;
  height:48px;
  overflow:hidden;
}
#u11280_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:48px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u11280_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u11281 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u11282_div {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u11282 {
  position:absolute;
  left:28px;
  top:15px;
  width:27px;
  height:18px;
}
#u11283 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u11284_img {
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  height:7px;
}
#u11284 {
  position:absolute;
  left:65px;
  top:21px;
  width:11px;
  height:7px;
}
#u11285 {
  position:absolute;
  left:2px;
  top:-4px;
  width:7px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11286_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:14px;
}
#u11286 {
  position:absolute;
  left:0px;
  top:17px;
  width:21px;
  height:14px;
}
#u11287 {
  position:absolute;
  left:2px;
  top:-1px;
  width:17px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11288 {
  position:fixed;
  right:20px;
  top:1px;
  width:173px;
  height:47px;
  overflow:hidden;
}
#u11288_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  height:47px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u11288_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u11289_div {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:36px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  border:none;
  border-radius:50px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u11289 {
  position:absolute;
  left:129px;
  top:5px;
  width:36px;
  height:36px;
}
#u11290 {
  position:absolute;
  left:2px;
  top:10px;
  width:32px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11291_div {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:36px;
  background:inherit;
  background-color:rgba(51, 153, 255, 1);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u11291 {
  position:absolute;
  left:1px;
  top:5px;
  width:101px;
  height:36px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u11292 {
  position:absolute;
  left:2px;
  top:10px;
  width:97px;
  word-wrap:break-word;
}
#u11293 {
  position:fixed;
  left:-1px;
  top:48px;
  width:1300px;
  height:6px;
  overflow:hidden;
}
#u11293_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:1300px;
  height:6px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:url('../../images/数据总览/u1156_state0.png');
  background-position:left top;
  background-repeat:repeat-x;
  background-attachment:scroll;
  background-size:4px 6px;
}
#u11293_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u11294 {
  position:fixed;
  right:20px;
  top:61px;
  visibility:hidden;
}
#u11294_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u11294_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u11295_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:612px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:0px 5px 10px rgba(0, 0, 0, 0.0980392156862745);
  -webkit-box-shadow:0px 5px 10px rgba(0, 0, 0, 0.0980392156862745);
  box-shadow:0px 5px 10px rgba(0, 0, 0, 0.0980392156862745);
}
#u11295 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:612px;
}
#u11296 {
  position:absolute;
  left:2px;
  top:298px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11297_div {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:50px;
  background:inherit;
  background-color:rgba(0, 204, 204, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u11297 {
  position:absolute;
  left:30px;
  top:232px;
  width:51px;
  height:50px;
}
#u11298 {
  position:absolute;
  left:2px;
  top:17px;
  width:47px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11299_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u11299 {
  position:absolute;
  left:27px;
  top:292px;
  width:57px;
  height:20px;
}
#u11300 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u11301_div {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:50px;
  background:inherit;
  background-color:rgba(0, 204, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u11301 {
  position:absolute;
  left:32px;
  top:18px;
  width:51px;
  height:50px;
}
#u11302 {
  position:absolute;
  left:2px;
  top:17px;
  width:47px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11303_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u11303 {
  position:absolute;
  left:29px;
  top:78px;
  width:57px;
  height:20px;
}
#u11304 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u11305_div {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 51, 51, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u11305 {
  position:absolute;
  left:127px;
  top:18px;
  width:51px;
  height:50px;
}
#u11306 {
  position:absolute;
  left:2px;
  top:17px;
  width:47px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11307_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u11307 {
  position:absolute;
  left:119px;
  top:78px;
  width:71px;
  height:20px;
}
#u11308 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u11309_div {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 153, 153, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u11309 {
  position:absolute;
  left:30px;
  top:127px;
  width:51px;
  height:50px;
}
#u11310 {
  position:absolute;
  left:2px;
  top:17px;
  width:47px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11311_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u11311 {
  position:absolute;
  left:22px;
  top:187px;
  width:71px;
  height:20px;
}
#u11312 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u11313_div {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 153, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u11313 {
  position:absolute;
  left:218px;
  top:127px;
  width:51px;
  height:50px;
}
#u11314 {
  position:absolute;
  left:2px;
  top:17px;
  width:47px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11315_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u11315 {
  position:absolute;
  left:215px;
  top:187px;
  width:57px;
  height:20px;
}
#u11316 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u11317_img {
  position:absolute;
  left:0px;
  top:0px;
  width:246px;
  height:2px;
}
#u11317 {
  position:absolute;
  left:26px;
  top:332px;
  width:245px;
  height:1px;
}
#u11318 {
  position:absolute;
  left:2px;
  top:-8px;
  width:241px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11319_div {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u11319 {
  position:absolute;
  left:118px;
  top:314px;
  width:72px;
  height:35px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u11320 {
  position:absolute;
  left:2px;
  top:8px;
  width:68px;
  word-wrap:break-word;
}
#u11321_div {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:50px;
  background:inherit;
  background-color:rgba(204, 102, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u11321 {
  position:absolute;
  left:29px;
  top:367px;
  width:51px;
  height:50px;
}
#u11322 {
  position:absolute;
  left:2px;
  top:17px;
  width:47px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11323_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u11323 {
  position:absolute;
  left:33px;
  top:427px;
  width:43px;
  height:20px;
}
#u11324 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u11325_div {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 153, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u11325 {
  position:absolute;
  left:126px;
  top:367px;
  width:51px;
  height:50px;
}
#u11326 {
  position:absolute;
  left:2px;
  top:17px;
  width:47px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11327_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u11327 {
  position:absolute;
  left:124px;
  top:427px;
  width:57px;
  height:20px;
}
#u11328 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u11329_div {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:50px;
  background:inherit;
  background-color:rgba(102, 204, 153, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u11329 {
  position:absolute;
  left:220px;
  top:367px;
  width:51px;
  height:50px;
}
#u11330 {
  position:absolute;
  left:2px;
  top:17px;
  width:47px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11331_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u11331 {
  position:absolute;
  left:231px;
  top:427px;
  width:29px;
  height:20px;
}
#u11332 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u11333_div {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:50px;
  background:inherit;
  background-color:rgba(0, 153, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u11333 {
  position:absolute;
  left:29px;
  top:477px;
  width:51px;
  height:50px;
}
#u11334 {
  position:absolute;
  left:2px;
  top:17px;
  width:47px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11335_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u11335 {
  position:absolute;
  left:33px;
  top:537px;
  width:43px;
  height:20px;
}
#u11336 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u11337_div {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:50px;
  background:inherit;
  background-color:rgba(51, 204, 204, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u11337 {
  position:absolute;
  left:126px;
  top:477px;
  width:51px;
  height:50px;
}
#u11338 {
  position:absolute;
  left:2px;
  top:17px;
  width:47px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11339_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u11339 {
  position:absolute;
  left:135px;
  top:537px;
  width:29px;
  height:20px;
}
#u11340 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u11341_div {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:50px;
  background:inherit;
  background-color:rgba(0, 204, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u11341 {
  position:absolute;
  left:127px;
  top:127px;
  width:51px;
  height:50px;
}
#u11342 {
  position:absolute;
  left:2px;
  top:17px;
  width:47px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11343_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u11343 {
  position:absolute;
  left:123px;
  top:187px;
  width:57px;
  height:20px;
}
#u11344 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u11345_div {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:50px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u11345 {
  position:absolute;
  left:125px;
  top:232px;
  width:51px;
  height:50px;
}
#u11346 {
  position:absolute;
  left:2px;
  top:17px;
  width:47px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11347_div {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u11347 {
  position:absolute;
  left:121px;
  top:292px;
  width:56px;
  height:20px;
}
#u11348 {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  white-space:nowrap;
}
#u11349_div {
  position:absolute;
  left:0px;
  top:0px;
  width:298px;
  height:40px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u11349 {
  position:absolute;
  left:1px;
  top:571px;
  width:298px;
  height:40px;
}
#u11350 {
  position:absolute;
  left:2px;
  top:12px;
  width:294px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11351_img {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:18px;
}
#u11351 {
  position:absolute;
  left:97px;
  top:582px;
  width:17px;
  height:18px;
}
#u11352 {
  position:absolute;
  left:2px;
  top:1px;
  width:13px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11353_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u11353 {
  position:absolute;
  left:127px;
  top:581px;
  width:57px;
  height:20px;
}
#u11354 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u11355 {
  position:absolute;
  left:5px;
  top:571px;
  width:294px;
  height:40px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u11356_div {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:50px;
  background:inherit;
  background-color:rgba(51, 153, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u11356 {
  position:absolute;
  left:219px;
  top:18px;
  width:51px;
  height:50px;
}
#u11357 {
  position:absolute;
  left:2px;
  top:17px;
  width:47px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11358_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u11358 {
  position:absolute;
  left:215px;
  top:78px;
  width:57px;
  height:20px;
}
#u11359 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u11360_img {
  position:absolute;
  left:-12px;
  top:0px;
  width:935px;
  height:585px;
}
#u11360 {
  position:absolute;
  left:321px;
  top:163px;
  width:911px;
  height:561px;
}
#u11361 {
  position:absolute;
  left:2px;
  top:272px;
  width:907px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11362_div {
  position:absolute;
  left:0px;
  top:0px;
  width:238px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u11362 {
  position:absolute;
  left:322px;
  top:117px;
  width:238px;
  height:25px;
  font-size:18px;
}
#u11363 {
  position:absolute;
  left:0px;
  top:0px;
  width:238px;
  white-space:nowrap;
}
#u11364_div {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u11364 {
  position:absolute;
  left:576px;
  top:115px;
  width:69px;
  height:30px;
  font-size:12px;
}
#u11365 {
  position:absolute;
  left:2px;
  top:6px;
  width:65px;
  word-wrap:break-word;
}
#u11366_div {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u11366 {
  position:absolute;
  left:373px;
  top:207px;
  width:36px;
  height:20px;
}
#u11367 {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  white-space:nowrap;
}
#u11368 {
  position:absolute;
  left:373px;
  top:240px;
  width:576px;
  height:34px;
}
#u11368_input {
  position:absolute;
  left:0px;
  top:0px;
  width:576px;
  height:34px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u11369_div {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u11369 {
  position:absolute;
  left:373px;
  top:293px;
  width:36px;
  height:20px;
}
#u11370 {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  white-space:nowrap;
}
#u11371 {
  position:absolute;
  left:373px;
  top:326px;
  width:576px;
  height:34px;
}
#u11371_input {
  position:absolute;
  left:0px;
  top:0px;
  width:576px;
  height:34px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u11372_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u11372 {
  position:absolute;
  left:373px;
  top:385px;
  width:57px;
  height:20px;
}
#u11373 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u11374 {
  position:absolute;
  left:373px;
  top:424px;
  width:100px;
  height:18px;
}
#u11375 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u11374_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u11376 {
  position:absolute;
  left:373px;
  top:461px;
  width:100px;
  height:18px;
}
#u11377 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u11376_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u11378 {
  position:absolute;
  left:373px;
  top:501px;
  width:100px;
  height:18px;
}
#u11379 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u11378_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u11380_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(0, 153, 255, 1);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u11380 {
  position:absolute;
  left:724px;
  top:653px;
  width:140px;
  height:40px;
}
#u11381 {
  position:absolute;
  left:2px;
  top:11px;
  width:136px;
  word-wrap:break-word;
}
#u11383 {
  position:absolute;
  left:322px;
  top:765px;
  width:960px;
  height:256px;
  overflow:hidden;
}
#u11383_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:960px;
  height:256px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:url('../../images/数据总览/u1224_state0.png');
  background-position:left top;
  background-repeat:repeat-x;
  background-attachment:scroll;
  background-size:37px 504px;
}
#u11383_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u11384 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u11385_div {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:152px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangHK-Regular', 'PingFang HK';
  font-weight:400;
  font-style:normal;
}
#u11385 {
  position:absolute;
  left:491px;
  top:804px;
  width:120px;
  height:152px;
  font-family:'PingFangHK-Regular', 'PingFang HK';
  font-weight:400;
  font-style:normal;
}
#u11386 {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  word-wrap:break-word;
}
#u11387_div {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:180px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangHK-Regular', 'PingFang HK';
  font-weight:400;
  font-style:normal;
}
#u11387 {
  position:absolute;
  left:337px;
  top:804px;
  width:120px;
  height:180px;
  font-family:'PingFangHK-Regular', 'PingFang HK';
  font-weight:400;
  font-style:normal;
}
#u11388 {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  word-wrap:break-word;
}
#u11389_div {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:180px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangHK-Regular', 'PingFang HK';
  font-weight:400;
  font-style:normal;
}
#u11389 {
  position:absolute;
  left:644px;
  top:804px;
  width:120px;
  height:180px;
  font-family:'PingFangHK-Regular', 'PingFang HK';
  font-weight:400;
  font-style:normal;
}
#u11390 {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  word-wrap:break-word;
}
#u11391_div {
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  height:131px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangHK-Regular', 'PingFang HK';
  font-style:normal;
}
#u11391 {
  position:absolute;
  left:798px;
  top:804px;
  width:183px;
  height:131px;
  font-family:'PingFangHK-Regular', 'PingFang HK';
  font-style:normal;
}
#u11392 {
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  word-wrap:break-word;
}
#u11393_img {
  position:absolute;
  left:0px;
  top:0px;
  width:961px;
  height:2px;
}
#u11393 {
  position:absolute;
  left:322px;
  top:966px;
  width:960px;
  height:1px;
  opacity:0.200000002980232;
}
#u11394 {
  position:absolute;
  left:2px;
  top:-8px;
  width:956px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11395_div {
  position:absolute;
  left:0px;
  top:0px;
  width:490px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangHK-Regular', 'PingFang HK';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666A73;
}
#u11395 {
  position:absolute;
  left:337px;
  top:984px;
  width:490px;
  height:17px;
  font-family:'PingFangHK-Regular', 'PingFang HK';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666A73;
}
#u11396 {
  position:absolute;
  left:0px;
  top:0px;
  width:490px;
  white-space:nowrap;
}
#u11397_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:120px;
}
#u11397 {
  position:absolute;
  left:1162px;
  top:804px;
  width:120px;
  height:120px;
}
#u11398 {
  position:absolute;
  left:2px;
  top:52px;
  width:116px;
  visibility:hidden;
  word-wrap:break-word;
}
