body {
  margin:0px;
  background-color:rgba(247, 248, 252, 1);
  background-image:url('../../images/index/bg.gif');
  background-position:left top;
  background-repeat:repeat;
  background-attachment:scroll;
  background-size:403px 575px;
  position:relative;
  left:-173px;
  width:862px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u7675 {
  position:fixed;
  left:50%;
  margin-left:-431px;
  top:50%;
  margin-top:-300px;
}
#u7675_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u7675_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u7676_div {
  position:absolute;
  left:0px;
  top:0px;
  width:862px;
  height:511px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:0px 5px 5px rgba(0, 0, 0, 0.129411764705882);
  -webkit-box-shadow:0px 5px 5px rgba(0, 0, 0, 0.129411764705882);
  box-shadow:0px 5px 5px rgba(0, 0, 0, 0.129411764705882);
}
#u7676 {
  position:absolute;
  left:0px;
  top:89px;
  width:862px;
  height:511px;
}
#u7677 {
  position:absolute;
  left:2px;
  top:248px;
  width:858px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7678_img {
  position:absolute;
  left:0px;
  top:0px;
  width:184px;
  height:44px;
}
#u7678 {
  position:absolute;
  left:339px;
  top:0px;
  width:184px;
  height:44px;
}
#u7679 {
  position:absolute;
  left:2px;
  top:14px;
  width:180px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7680_div {
  position:absolute;
  left:0px;
  top:0px;
  width:430px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
}
#u7680 {
  position:absolute;
  left:70px;
  top:496px;
  width:430px;
  height:18px;
  font-size:13px;
}
#u7681 {
  position:absolute;
  left:0px;
  top:0px;
  width:430px;
  white-space:nowrap;
}
#u7682_div {
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u7682 {
  position:absolute;
  left:350px;
  top:131px;
  width:163px;
  height:25px;
  font-size:18px;
}
#u7683 {
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  white-space:nowrap;
}
#u7684_div {
  position:absolute;
  left:0px;
  top:0px;
  width:495px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
}
#u7684 {
  position:absolute;
  left:70px;
  top:539px;
  width:495px;
  height:18px;
  font-size:13px;
}
#u7685 {
  position:absolute;
  left:0px;
  top:0px;
  width:495px;
  white-space:nowrap;
}
#u7686_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:100px;
}
#u7686 {
  position:absolute;
  left:547px;
  top:227px;
  width:100px;
  height:100px;
}
#u7687 {
  position:absolute;
  left:2px;
  top:42px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7688_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:40px;
}
#u7688 {
  position:absolute;
  left:420px;
  top:249px;
  width:70px;
  height:40px;
}
#u7689 {
  position:absolute;
  left:2px;
  top:12px;
  width:66px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7690_div {
  position:absolute;
  left:0px;
  top:0px;
  width:290px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7690 {
  position:absolute;
  left:70px;
  top:211px;
  width:290px;
  height:42px;
}
#u7691 {
  position:absolute;
  left:2px;
  top:13px;
  width:286px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7692 {
  position:absolute;
  left:77px;
  top:220px;
  width:277px;
  height:25px;
}
#u7692_input {
  position:absolute;
  left:0px;
  top:0px;
  width:277px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u7693_div {
  position:absolute;
  left:0px;
  top:0px;
  width:290px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7693 {
  position:absolute;
  left:70px;
  top:284px;
  width:290px;
  height:42px;
}
#u7694 {
  position:absolute;
  left:2px;
  top:13px;
  width:286px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7695 {
  position:absolute;
  left:77px;
  top:293px;
  width:277px;
  height:25px;
}
#u7695_input {
  position:absolute;
  left:0px;
  top:0px;
  width:277px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u7696_div {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7696 {
  position:absolute;
  left:70px;
  top:359px;
  width:145px;
  height:42px;
}
#u7697 {
  position:absolute;
  left:2px;
  top:13px;
  width:141px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7698 {
  position:absolute;
  left:77px;
  top:368px;
  width:129px;
  height:25px;
}
#u7698_input {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u7699_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
}
#u7699 {
  position:absolute;
  left:260px;
  top:361px;
  width:100px;
  height:40px;
}
#u7700 {
  position:absolute;
  left:2px;
  top:12px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7701_div {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7701 {
  position:absolute;
  left:568px;
  top:337px;
  width:62px;
  height:23px;
}
#u7702 {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  white-space:nowrap;
}
#u7703_div {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:40px;
  background:inherit;
  background-color:rgba(0, 153, 255, 1);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7703 {
  position:absolute;
  left:70px;
  top:433px;
  width:78px;
  height:40px;
}
#u7704 {
  position:absolute;
  left:2px;
  top:11px;
  width:74px;
  word-wrap:break-word;
}
