body {
  margin:0px;
  background-color:rgba(247, 248, 252, 1);
  background-image:url('../../images/登录注册/bg.gif');
  background-position:left top;
  background-repeat:repeat;
  background-attachment:scroll;
  background-size:403px 575px;
  position:relative;
  left:-173px;
  width:862px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u12558 {
  position:fixed;
  left:50%;
  margin-left:-431px;
  top:50%;
  margin-top:-300px;
}
#u12558_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u12558_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u12559_div {
  position:absolute;
  left:0px;
  top:0px;
  width:862px;
  height:511px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:0px 5px 5px rgba(0, 0, 0, 0.129411764705882);
  -webkit-box-shadow:0px 5px 5px rgba(0, 0, 0, 0.129411764705882);
  box-shadow:0px 5px 5px rgba(0, 0, 0, 0.129411764705882);
}
#u12559 {
  position:absolute;
  left:0px;
  top:89px;
  width:862px;
  height:511px;
}
#u12560 {
  position:absolute;
  left:2px;
  top:248px;
  width:858px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12561_img {
  position:absolute;
  left:0px;
  top:0px;
  width:184px;
  height:44px;
}
#u12561 {
  position:absolute;
  left:339px;
  top:0px;
  width:184px;
  height:44px;
}
#u12562 {
  position:absolute;
  left:2px;
  top:14px;
  width:180px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12563_div {
  position:absolute;
  left:0px;
  top:0px;
  width:430px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
}
#u12563 {
  position:absolute;
  left:70px;
  top:496px;
  width:430px;
  height:18px;
  font-size:13px;
}
#u12564 {
  position:absolute;
  left:0px;
  top:0px;
  width:430px;
  white-space:nowrap;
}
#u12565_div {
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u12565 {
  position:absolute;
  left:350px;
  top:131px;
  width:163px;
  height:25px;
  font-size:18px;
}
#u12566 {
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  white-space:nowrap;
}
#u12567_div {
  position:absolute;
  left:0px;
  top:0px;
  width:495px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
}
#u12567 {
  position:absolute;
  left:70px;
  top:539px;
  width:495px;
  height:18px;
  font-size:13px;
}
#u12568 {
  position:absolute;
  left:0px;
  top:0px;
  width:495px;
  white-space:nowrap;
}
#u12569_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:100px;
}
#u12569 {
  position:absolute;
  left:547px;
  top:227px;
  width:100px;
  height:100px;
}
#u12570 {
  position:absolute;
  left:2px;
  top:42px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12571_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:40px;
}
#u12571 {
  position:absolute;
  left:420px;
  top:249px;
  width:70px;
  height:40px;
}
#u12572 {
  position:absolute;
  left:2px;
  top:12px;
  width:66px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12573_div {
  position:absolute;
  left:0px;
  top:0px;
  width:290px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12573 {
  position:absolute;
  left:70px;
  top:211px;
  width:290px;
  height:42px;
}
#u12574 {
  position:absolute;
  left:2px;
  top:13px;
  width:286px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12575 {
  position:absolute;
  left:77px;
  top:220px;
  width:277px;
  height:25px;
}
#u12575_input {
  position:absolute;
  left:0px;
  top:0px;
  width:277px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u12576_div {
  position:absolute;
  left:0px;
  top:0px;
  width:290px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12576 {
  position:absolute;
  left:70px;
  top:284px;
  width:290px;
  height:42px;
}
#u12577 {
  position:absolute;
  left:2px;
  top:13px;
  width:286px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12578 {
  position:absolute;
  left:77px;
  top:293px;
  width:277px;
  height:25px;
}
#u12578_input {
  position:absolute;
  left:0px;
  top:0px;
  width:277px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u12579_div {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12579 {
  position:absolute;
  left:70px;
  top:359px;
  width:145px;
  height:42px;
}
#u12580 {
  position:absolute;
  left:2px;
  top:13px;
  width:141px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12581 {
  position:absolute;
  left:77px;
  top:368px;
  width:129px;
  height:25px;
}
#u12581_input {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u12582_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
}
#u12582 {
  position:absolute;
  left:260px;
  top:361px;
  width:100px;
  height:40px;
}
#u12583 {
  position:absolute;
  left:2px;
  top:12px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12584_div {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12584 {
  position:absolute;
  left:568px;
  top:337px;
  width:62px;
  height:23px;
}
#u12585 {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  white-space:nowrap;
}
#u12586_div {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:40px;
  background:inherit;
  background-color:rgba(0, 153, 255, 1);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12586 {
  position:absolute;
  left:70px;
  top:433px;
  width:78px;
  height:40px;
}
#u12587 {
  position:absolute;
  left:2px;
  top:11px;
  width:74px;
  word-wrap:break-word;
}
