body {
  margin:0px;
  background-color:rgba(247, 248, 252, 1);
  background-image:none;
  position:relative;
  left:-0px;
  width:1301px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u19044 {
  position:fixed;
  left:0px;
  top:0px;
  width:1300px;
  height:48px;
  overflow:hidden;
}
#u19044_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:1300px;
  height:48px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-color:rgba(255, 255, 255, 1);
  background-image:none;
}
#u19044_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u19045_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1300px;
  height:48px;
}
#u19045 {
  position:absolute;
  left:0px;
  top:0px;
  width:1300px;
  height:48px;
}
#u19046 {
  position:absolute;
  left:2px;
  top:16px;
  width:1296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19047 {
  position:absolute;
  left:22px;
  top:9px;
}
#u19047_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u19047_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u19048_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:30px;
}
#u19048 {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:30px;
}
#u19049 {
  position:absolute;
  left:2px;
  top:7px;
  width:116px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19050 {
  position:fixed;
  left:173px;
  top:14px;
  width:60px;
  height:20px;
  overflow:hidden;
}
#u19050_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:20px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u19050_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u19051_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u19051 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u19051_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u19051.mouseOver {
}
#u19052 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u19053 {
  position:fixed;
  right:228px;
  top:0px;
  width:78px;
  height:48px;
  overflow:hidden;
}
#u19053_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:48px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u19053_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u19054 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u19055_div {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19055 {
  position:absolute;
  left:28px;
  top:15px;
  width:27px;
  height:18px;
}
#u19056 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u19057_img {
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  height:7px;
}
#u19057 {
  position:absolute;
  left:65px;
  top:21px;
  width:11px;
  height:7px;
}
#u19058 {
  position:absolute;
  left:2px;
  top:-4px;
  width:7px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19059_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:14px;
}
#u19059 {
  position:absolute;
  left:0px;
  top:17px;
  width:21px;
  height:14px;
}
#u19060 {
  position:absolute;
  left:2px;
  top:-1px;
  width:17px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19061 {
  position:fixed;
  right:20px;
  top:1px;
  width:173px;
  height:47px;
  overflow:hidden;
}
#u19061_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  height:47px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u19061_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u19062_div {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:36px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  border:none;
  border-radius:50px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19062 {
  position:absolute;
  left:129px;
  top:5px;
  width:36px;
  height:36px;
}
#u19063 {
  position:absolute;
  left:2px;
  top:10px;
  width:32px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19064_div {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:36px;
  background:inherit;
  background-color:rgba(51, 153, 255, 1);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u19064 {
  position:absolute;
  left:1px;
  top:5px;
  width:101px;
  height:36px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u19065 {
  position:absolute;
  left:2px;
  top:10px;
  width:97px;
  word-wrap:break-word;
}
#u19066 {
  position:fixed;
  left:-1px;
  top:48px;
  width:1300px;
  height:6px;
  overflow:hidden;
}
#u19066_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:1300px;
  height:6px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:url('../../images/index/u23_state0.png');
  background-position:left top;
  background-repeat:repeat-x;
  background-attachment:scroll;
  background-size:4px 6px;
}
#u19066_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u19067 {
  position:fixed;
  right:20px;
  top:61px;
  visibility:hidden;
}
#u19067_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u19067_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u19068_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:612px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:0px 5px 10px rgba(0, 0, 0, 0.0980392156862745);
  -webkit-box-shadow:0px 5px 10px rgba(0, 0, 0, 0.0980392156862745);
  box-shadow:0px 5px 10px rgba(0, 0, 0, 0.0980392156862745);
}
#u19068 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:612px;
}
#u19069 {
  position:absolute;
  left:2px;
  top:298px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19070_div {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:50px;
  background:inherit;
  background-color:rgba(0, 204, 204, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19070 {
  position:absolute;
  left:29px;
  top:18px;
  width:51px;
  height:50px;
}
#u19071 {
  position:absolute;
  left:2px;
  top:17px;
  width:47px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19072_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19072 {
  position:absolute;
  left:26px;
  top:78px;
  width:57px;
  height:20px;
}
#u19073 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u19074_div {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:50px;
  background:inherit;
  background-color:rgba(0, 204, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19074 {
  position:absolute;
  left:126px;
  top:18px;
  width:51px;
  height:50px;
}
#u19075 {
  position:absolute;
  left:2px;
  top:17px;
  width:47px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19076_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19076 {
  position:absolute;
  left:123px;
  top:78px;
  width:57px;
  height:20px;
}
#u19077 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u19078_div {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:50px;
  background:inherit;
  background-color:rgba(51, 153, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19078 {
  position:absolute;
  left:220px;
  top:18px;
  width:51px;
  height:50px;
}
#u19079 {
  position:absolute;
  left:2px;
  top:17px;
  width:47px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19080_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19080 {
  position:absolute;
  left:215px;
  top:78px;
  width:57px;
  height:20px;
}
#u19081 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u19082_div {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 153, 153, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19082 {
  position:absolute;
  left:29px;
  top:127px;
  width:51px;
  height:50px;
}
#u19083 {
  position:absolute;
  left:2px;
  top:17px;
  width:47px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19084_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19084 {
  position:absolute;
  left:21px;
  top:187px;
  width:71px;
  height:20px;
}
#u19085 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u19086_div {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 153, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19086 {
  position:absolute;
  left:126px;
  top:127px;
  width:51px;
  height:50px;
}
#u19087 {
  position:absolute;
  left:2px;
  top:17px;
  width:47px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19088_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19088 {
  position:absolute;
  left:123px;
  top:187px;
  width:57px;
  height:20px;
}
#u19089 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u19090_img {
  position:absolute;
  left:0px;
  top:0px;
  width:246px;
  height:2px;
}
#u19090 {
  position:absolute;
  left:26px;
  top:332px;
  width:245px;
  height:1px;
}
#u19091 {
  position:absolute;
  left:2px;
  top:-8px;
  width:241px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19092_div {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u19092 {
  position:absolute;
  left:118px;
  top:314px;
  width:72px;
  height:35px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u19093 {
  position:absolute;
  left:2px;
  top:8px;
  width:68px;
  word-wrap:break-word;
}
#u19094_div {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:50px;
  background:inherit;
  background-color:rgba(204, 102, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19094 {
  position:absolute;
  left:29px;
  top:367px;
  width:51px;
  height:50px;
}
#u19095 {
  position:absolute;
  left:2px;
  top:17px;
  width:47px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19096_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19096 {
  position:absolute;
  left:33px;
  top:427px;
  width:43px;
  height:20px;
}
#u19097 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u19098_div {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 153, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19098 {
  position:absolute;
  left:126px;
  top:367px;
  width:51px;
  height:50px;
}
#u19099 {
  position:absolute;
  left:2px;
  top:17px;
  width:47px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19100_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19100 {
  position:absolute;
  left:124px;
  top:427px;
  width:57px;
  height:20px;
}
#u19101 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u19102_div {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:50px;
  background:inherit;
  background-color:rgba(102, 204, 153, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19102 {
  position:absolute;
  left:220px;
  top:367px;
  width:51px;
  height:50px;
}
#u19103 {
  position:absolute;
  left:2px;
  top:17px;
  width:47px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19104_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19104 {
  position:absolute;
  left:231px;
  top:427px;
  width:29px;
  height:20px;
}
#u19105 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u19106_div {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:50px;
  background:inherit;
  background-color:rgba(0, 153, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19106 {
  position:absolute;
  left:29px;
  top:477px;
  width:51px;
  height:50px;
}
#u19107 {
  position:absolute;
  left:2px;
  top:17px;
  width:47px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19108_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19108 {
  position:absolute;
  left:33px;
  top:537px;
  width:43px;
  height:20px;
}
#u19109 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u19110_div {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:50px;
  background:inherit;
  background-color:rgba(51, 204, 204, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19110 {
  position:absolute;
  left:126px;
  top:477px;
  width:51px;
  height:50px;
}
#u19111 {
  position:absolute;
  left:2px;
  top:17px;
  width:47px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19112_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19112 {
  position:absolute;
  left:135px;
  top:537px;
  width:29px;
  height:20px;
}
#u19113 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u19114_div {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:50px;
  background:inherit;
  background-color:rgba(0, 204, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19114 {
  position:absolute;
  left:216px;
  top:127px;
  width:51px;
  height:50px;
}
#u19115 {
  position:absolute;
  left:2px;
  top:17px;
  width:47px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19116_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19116 {
  position:absolute;
  left:212px;
  top:187px;
  width:57px;
  height:20px;
}
#u19117 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u19118_div {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:50px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19118 {
  position:absolute;
  left:28px;
  top:232px;
  width:51px;
  height:50px;
}
#u19119 {
  position:absolute;
  left:2px;
  top:17px;
  width:47px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19120_div {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19120 {
  position:absolute;
  left:24px;
  top:292px;
  width:56px;
  height:20px;
}
#u19121 {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  white-space:nowrap;
}
#u19122_div {
  position:absolute;
  left:0px;
  top:0px;
  width:298px;
  height:40px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19122 {
  position:absolute;
  left:1px;
  top:571px;
  width:298px;
  height:40px;
}
#u19123 {
  position:absolute;
  left:2px;
  top:12px;
  width:294px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19124_img {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:18px;
}
#u19124 {
  position:absolute;
  left:97px;
  top:582px;
  width:17px;
  height:18px;
}
#u19125 {
  position:absolute;
  left:2px;
  top:1px;
  width:13px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19126_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19126 {
  position:absolute;
  left:127px;
  top:581px;
  width:57px;
  height:20px;
}
#u19127 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u19128 {
  position:absolute;
  left:5px;
  top:571px;
  width:294px;
  height:40px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
