body {
  margin:0px;
  background-color:rgba(247, 248, 252, 1);
  background-image:none;
  position:static;
  left:auto;
  width:1799px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u27836 {
  position:fixed;
  left:0px;
  top:0px;
  width:1301px;
  height:3000px;
  overflow:hidden;
  visibility:hidden;
}
#u27836_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:1301px;
  height:3000px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-color:rgba(40, 44, 53, 0.8);
  background-image:none;
}
#u27836_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u27837 {
  position:fixed;
  left:50%;
  margin-left:-305px;
  top:50%;
  margin-top:-300px;
  width:610px;
  height:600px;
  overflow:hidden;
}
#u27837_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:610px;
  height:600px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-color:rgba(255, 255, 255, 1);
  background-image:none;
}
#u27837_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u27838_img {
  position:absolute;
  left:0px;
  top:0px;
  width:561px;
  height:558px;
}
#u27838 {
  position:absolute;
  left:20px;
  top:18px;
  width:561px;
  height:558px;
}
#u27839 {
  position:absolute;
  left:2px;
  top:271px;
  width:557px;
  visibility:hidden;
  word-wrap:break-word;
}
#u27840_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u27840 {
  position:absolute;
  left:561px;
  top:19px;
  width:20px;
  height:20px;
}
#u27841 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u27842 {
  position:fixed;
  left:0px;
  top:0px;
  width:1301px;
  height:3000px;
  overflow:hidden;
  visibility:hidden;
}
#u27842_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:1301px;
  height:3000px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-color:rgba(40, 44, 53, 0.8);
  background-image:none;
}
#u27842_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u27843 {
  position:fixed;
  left:50%;
  margin-left:-458px;
  top:50%;
  margin-top:-312px;
  width:916px;
  height:624px;
  overflow:hidden;
}
#u27843_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:916px;
  height:624px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-color:rgba(255, 255, 255, 1);
  background-image:none;
}
#u27843_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u27844_img {
  position:absolute;
  left:0px;
  top:0px;
  width:880px;
  height:582px;
}
#u27844 {
  position:absolute;
  left:16px;
  top:19px;
  width:880px;
  height:582px;
}
#u27845 {
  position:absolute;
  left:2px;
  top:283px;
  width:876px;
  visibility:hidden;
  word-wrap:break-word;
}
#u27846_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u27846 {
  position:absolute;
  left:876px;
  top:19px;
  width:20px;
  height:20px;
}
#u27847 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u27848 {
  position:fixed;
  left:0px;
  top:0px;
  width:1301px;
  height:3000px;
  overflow:hidden;
  visibility:hidden;
}
#u27848_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:1301px;
  height:3000px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-color:rgba(40, 44, 53, 0.8);
  background-image:none;
}
#u27848_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u27849 {
  position:fixed;
  left:50%;
  margin-left:-305px;
  top:50%;
  margin-top:-288px;
  width:610px;
  height:576px;
  overflow:hidden;
}
#u27849_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:610px;
  height:576px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-color:rgba(255, 255, 255, 1);
  background-image:none;
}
#u27849_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u27850_img {
  position:absolute;
  left:0px;
  top:0px;
  width:551px;
  height:846px;
}
#u27850 {
  position:absolute;
  left:16px;
  top:0px;
  width:551px;
  height:846px;
}
#u27851 {
  position:absolute;
  left:2px;
  top:415px;
  width:547px;
  visibility:hidden;
  word-wrap:break-word;
}
#u27852_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u27852 {
  position:absolute;
  left:561px;
  top:19px;
  width:20px;
  height:20px;
}
#u27853 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u27854_div {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:40px;
  background:inherit;
  background-color:rgba(0, 153, 255, 1);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u27854 {
  position:absolute;
  left:450px;
  top:496px;
  width:107px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u27855 {
  position:absolute;
  left:2px;
  top:12px;
  width:103px;
  word-wrap:break-word;
}
#u27856 {
  position:absolute;
  left:0px;
  top:0px;
  width:1799px;
  height:1245px;
  overflow:hidden;
}
#u27856_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:1799px;
  height:1245px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:url('../../images/报名页面2/u27856_state0.jpg');
  background-position:center top;
  background-repeat:no-repeat;
  background-attachment:scroll;
  background-size:1920px 1244px;
}
#u27856_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u27857 {
  position:absolute;
  left:512px;
  top:7px;
  width:96px;
  height:40px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u27858 {
  position:absolute;
  left:947px;
  top:1283px;
  width:157px;
  height:32px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u27859 {
  position:absolute;
  left:1029px;
  top:633px;
  width:413px;
  height:51px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u27860 {
  position:absolute;
  left:1029px;
  top:684px;
  width:231px;
  height:46px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
