body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-0px;
  width:1799px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u16700 {
  position:absolute;
  left:0px;
  top:0px;
  width:1799px;
  height:2976px;
  overflow:hidden;
}
#u16700_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:1799px;
  height:2976px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:url('../../images/活动页面/u16700_state0.jpg');
  background-position:center top;
  background-repeat:no-repeat;
  background-attachment:scroll;
  background-size:1920px 2975px;
}
#u16700_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u16701 {
  position:absolute;
  left:1241px;
  top:1791px;
  width:132px;
  height:45px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u16702 {
  position:absolute;
  left:1341px;
  top:41px;
  width:40px;
  height:40px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u16703 {
  position:absolute;
  left:1426px;
  top:1113px;
  width:132px;
  height:60px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u16704 {
  position:fixed;
  left:0px;
  top:0px;
  width:1301px;
  height:3000px;
  overflow:hidden;
  visibility:hidden;
}
#u16704_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:1301px;
  height:3000px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-color:rgba(40, 44, 53, 0.8);
  background-image:none;
}
#u16704_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u16705 {
  position:fixed;
  left:50%;
  margin-left:-305px;
  top:50%;
  margin-top:-203px;
  width:610px;
  height:406px;
  overflow:hidden;
}
#u16705_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:610px;
  height:406px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-color:rgba(255, 255, 255, 1);
  background-image:none;
}
#u16705_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u16706_img {
  position:absolute;
  left:0px;
  top:0px;
  width:561px;
  height:350px;
}
#u16706 {
  position:absolute;
  left:26px;
  top:19px;
  width:561px;
  height:350px;
}
#u16707 {
  position:absolute;
  left:2px;
  top:167px;
  width:557px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16708_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u16708 {
  position:absolute;
  left:561px;
  top:19px;
  width:20px;
  height:20px;
}
#u16709 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16710 {
  position:absolute;
  left:1426px;
  top:1178px;
  width:132px;
  height:60px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u16711 {
  position:absolute;
  left:506px;
  top:667px;
  width:246px;
  height:29px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u16712 {
  position:absolute;
  left:1076px;
  top:1791px;
  width:142px;
  height:45px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u16713 {
  position:fixed;
  left:0px;
  bottom:0px;
  width:1799px;
  height:349px;
  overflow:hidden;
  visibility:hidden;
}
#u16713_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:1799px;
  height:349px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-color:rgba(41, 44, 54, 0.898039215686275);
  background-image:none;
}
#u16713_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u16714 {
  position:absolute;
  left:523px;
  top:14px;
}
#u16714_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u16714_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u16715_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:29px;
  background:inherit;
  background-color:rgba(41, 44, 54, 0.898039215686275);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
  text-align:center;
}
#u16715 {
  position:absolute;
  left:161px;
  top:0px;
  width:65px;
  height:29px;
  color:#FFFFFF;
  text-align:center;
}
#u16716 {
  position:absolute;
  left:0px;
  top:4px;
  width:65px;
  word-wrap:break-word;
}
#u16717_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u16717 {
  position:absolute;
  left:271px;
  top:5px;
  width:29px;
  height:20px;
  color:#FFFFFF;
}
#u16718 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u16719 {
  position:absolute;
  left:258px;
  top:62px;
  width:588px;
  height:198px;
  overflow:hidden;
}
#u16719_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:588px;
  height:198px;
  overflow:auto;
  -webkit-overflow-scrolling:touch;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  background-image:none;
}
#u16719_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u16720_div {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:73px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u16720 {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:73px;
}
#u16721 {
  position:absolute;
  left:2px;
  top:28px;
  width:122px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16722_div {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:73px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u16722 {
  position:absolute;
  left:147px;
  top:0px;
  width:126px;
  height:73px;
}
#u16723 {
  position:absolute;
  left:2px;
  top:28px;
  width:122px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16724_div {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:73px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u16724 {
  position:absolute;
  left:293px;
  top:0px;
  width:126px;
  height:73px;
}
#u16725 {
  position:absolute;
  left:2px;
  top:28px;
  width:122px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16726_div {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:73px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u16726 {
  position:absolute;
  left:440px;
  top:0px;
  width:126px;
  height:73px;
}
#u16727 {
  position:absolute;
  left:2px;
  top:28px;
  width:122px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16728_div {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:73px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u16728 {
  position:absolute;
  left:0px;
  top:93px;
  width:126px;
  height:73px;
}
#u16729 {
  position:absolute;
  left:2px;
  top:28px;
  width:122px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16730_div {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:73px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u16730 {
  position:absolute;
  left:147px;
  top:93px;
  width:126px;
  height:73px;
}
#u16731 {
  position:absolute;
  left:2px;
  top:28px;
  width:122px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16732_div {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:73px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u16732 {
  position:absolute;
  left:293px;
  top:93px;
  width:126px;
  height:73px;
}
#u16733 {
  position:absolute;
  left:2px;
  top:28px;
  width:122px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16734_div {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:73px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u16734 {
  position:absolute;
  left:440px;
  top:93px;
  width:126px;
  height:73px;
}
#u16735 {
  position:absolute;
  left:2px;
  top:28px;
  width:122px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16736_div {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:73px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u16736 {
  position:absolute;
  left:0px;
  top:188px;
  width:126px;
  height:73px;
}
#u16737 {
  position:absolute;
  left:2px;
  top:28px;
  width:122px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16738_div {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:73px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u16738 {
  position:absolute;
  left:147px;
  top:188px;
  width:126px;
  height:73px;
}
#u16739 {
  position:absolute;
  left:2px;
  top:28px;
  width:122px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16740_div {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:73px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u16740 {
  position:absolute;
  left:293px;
  top:188px;
  width:126px;
  height:73px;
}
#u16741 {
  position:absolute;
  left:2px;
  top:28px;
  width:122px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16742_div {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:73px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u16742 {
  position:absolute;
  left:440px;
  top:188px;
  width:126px;
  height:73px;
}
#u16743 {
  position:absolute;
  left:2px;
  top:28px;
  width:122px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16744_div {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 204, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u16744 {
  position:absolute;
  left:515px;
  top:188px;
  width:51px;
  height:23px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u16745 {
  position:absolute;
  left:2px;
  top:3px;
  width:47px;
  word-wrap:break-word;
}
#u16746_div {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 204, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u16746 {
  position:absolute;
  left:368px;
  top:188px;
  width:51px;
  height:23px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u16747 {
  position:absolute;
  left:2px;
  top:3px;
  width:47px;
  word-wrap:break-word;
}
#u16748_div {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 204, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u16748 {
  position:absolute;
  left:222px;
  top:188px;
  width:51px;
  height:23px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u16749 {
  position:absolute;
  left:2px;
  top:3px;
  width:47px;
  word-wrap:break-word;
}
#u16750_div {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 204, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u16750 {
  position:absolute;
  left:75px;
  top:188px;
  width:51px;
  height:23px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u16751 {
  position:absolute;
  left:2px;
  top:3px;
  width:47px;
  word-wrap:break-word;
}
#u16752_div {
  position:absolute;
  left:0px;
  top:0px;
  width:211px;
  height:135px;
  background:inherit;
  background-color:rgba(235, 238, 250, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u16752 {
  position:absolute;
  left:6px;
  top:62px;
  width:211px;
  height:135px;
}
#u16753 {
  position:absolute;
  left:2px;
  top:60px;
  width:207px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16754_div {
  position:absolute;
  left:0px;
  top:0px;
  width:211px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#999999;
}
#u16754 {
  position:absolute;
  left:6px;
  top:221px;
  width:211px;
  height:34px;
  font-size:12px;
  color:#999999;
}
#u16755 {
  position:absolute;
  left:0px;
  top:0px;
  width:211px;
  word-wrap:break-word;
}
#u16756_img {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:93px;
}
#u16756 {
  position:absolute;
  left:53px;
  top:83px;
  width:118px;
  height:93px;
}
#u16757 {
  position:absolute;
  left:2px;
  top:38px;
  width:114px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16758_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u16758 {
  position:absolute;
  left:340px;
  top:5px;
  width:29px;
  height:20px;
  color:#FFFFFF;
}
#u16759 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u16714_state1 {
  position:relative;
  left:0px;
  top:0px;
  visibility:hidden;
  background-image:none;
}
#u16714_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u16760_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
  text-align:center;
}
#u16760 {
  position:absolute;
  left:161px;
  top:0px;
  width:65px;
  height:29px;
  color:#FFFFFF;
  text-align:center;
}
#u16761 {
  position:absolute;
  left:0px;
  top:4px;
  width:65px;
  word-wrap:break-word;
}
#u16762_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:29px;
  background:inherit;
  background-color:rgba(41, 44, 54, 0.898039215686275);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
  text-align:center;
}
#u16762 {
  position:absolute;
  left:260px;
  top:0px;
  width:65px;
  height:29px;
  color:#FFFFFF;
  text-align:center;
}
#u16763 {
  position:absolute;
  left:0px;
  top:4px;
  width:65px;
  word-wrap:break-word;
}
#u16764 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u16765_div {
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  height:206px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:3px;
  border-style:solid;
  border-color:rgba(49, 194, 124, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u16765 {
  position:absolute;
  left:37px;
  top:54px;
  width:188px;
  height:206px;
}
#u16766 {
  position:absolute;
  left:2px;
  top:95px;
  width:184px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16767_div {
  position:absolute;
  left:0px;
  top:0px;
  width:182px;
  height:49px;
  background:inherit;
  background-color:rgba(51, 153, 255, 0.498039215686275);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u16767 {
  position:absolute;
  left:40px;
  top:56px;
  width:182px;
  height:49px;
}
#u16768 {
  position:absolute;
  left:2px;
  top:16px;
  width:178px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16769_div {
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  height:69px;
  background:inherit;
  background-color:rgba(51, 153, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u16769 {
  position:absolute;
  left:67px;
  top:64px;
  width:124px;
  height:69px;
}
#u16770 {
  position:absolute;
  left:2px;
  top:26px;
  width:120px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16771_div {
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  height:106px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u16771 {
  position:absolute;
  left:67px;
  top:141px;
  width:124px;
  height:106px;
}
#u16772 {
  position:absolute;
  left:2px;
  top:45px;
  width:120px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16773_div {
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u16773 {
  position:absolute;
  left:67px;
  top:100px;
  width:124px;
  height:32px;
}
#u16774 {
  position:absolute;
  left:2px;
  top:8px;
  width:120px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16775_div {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:5px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u16775 {
  position:absolute;
  left:73px;
  top:104px;
  width:53px;
  height:5px;
}
#u16776 {
  position:absolute;
  left:2px;
  top:-6px;
  width:49px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16777_div {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:5px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u16777 {
  position:absolute;
  left:73px;
  top:114px;
  width:38px;
  height:5px;
}
#u16778 {
  position:absolute;
  left:2px;
  top:-6px;
  width:34px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16779_div {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:5px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u16779 {
  position:absolute;
  left:73px;
  top:123px;
  width:38px;
  height:5px;
}
#u16780 {
  position:absolute;
  left:2px;
  top:-6px;
  width:34px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16781_div {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:5px;
  background:inherit;
  background-color:rgba(255, 102, 153, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u16781 {
  position:absolute;
  left:160px;
  top:123px;
  width:24px;
  height:5px;
}
#u16782 {
  position:absolute;
  left:2px;
  top:-6px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16783_div {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:5px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u16783 {
  position:absolute;
  left:73px;
  top:146px;
  width:16px;
  height:5px;
}
#u16784 {
  position:absolute;
  left:2px;
  top:-6px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16785_div {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:5px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u16785 {
  position:absolute;
  left:95px;
  top:146px;
  width:16px;
  height:5px;
}
#u16786 {
  position:absolute;
  left:2px;
  top:-6px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16787_div {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:5px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u16787 {
  position:absolute;
  left:116px;
  top:146px;
  width:16px;
  height:5px;
}
#u16788 {
  position:absolute;
  left:2px;
  top:-6px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16789_div {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:5px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u16789 {
  position:absolute;
  left:137px;
  top:146px;
  width:16px;
  height:5px;
}
#u16790 {
  position:absolute;
  left:2px;
  top:-6px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16791_div {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:5px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u16791 {
  position:absolute;
  left:112px;
  top:161px;
  width:24px;
  height:5px;
}
#u16792 {
  position:absolute;
  left:2px;
  top:-6px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16793_img {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:2px;
}
#u16793 {
  position:absolute;
  left:67px;
  top:155px;
  width:124px;
  height:1px;
}
#u16794 {
  position:absolute;
  left:2px;
  top:-8px;
  width:120px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16795_div {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:5px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u16795 {
  position:absolute;
  left:91px;
  top:171px;
  width:66px;
  height:5px;
}
#u16796 {
  position:absolute;
  left:2px;
  top:-6px;
  width:62px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16797_div {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:5px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u16797 {
  position:absolute;
  left:97px;
  top:181px;
  width:55px;
  height:5px;
}
#u16798 {
  position:absolute;
  left:2px;
  top:-6px;
  width:51px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16799_div {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:5px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u16799 {
  position:absolute;
  left:91px;
  top:191px;
  width:66px;
  height:5px;
}
#u16800 {
  position:absolute;
  left:2px;
  top:-6px;
  width:62px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16801_div {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:5px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u16801 {
  position:absolute;
  left:97px;
  top:201px;
  width:55px;
  height:5px;
}
#u16802 {
  position:absolute;
  left:2px;
  top:-6px;
  width:51px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16803_div {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:22px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u16803 {
  position:absolute;
  left:71px;
  top:211px;
  width:116px;
  height:22px;
}
#u16804 {
  position:absolute;
  left:2px;
  top:3px;
  width:112px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16805_div {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:5px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u16805 {
  position:absolute;
  left:71px;
  top:238px;
  width:55px;
  height:5px;
}
#u16806 {
  position:absolute;
  left:2px;
  top:-6px;
  width:51px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16807_div {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:5px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u16807 {
  position:absolute;
  left:169px;
  top:238px;
  width:18px;
  height:5px;
}
#u16808 {
  position:absolute;
  left:2px;
  top:-6px;
  width:14px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16809 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u16810_div {
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  height:206px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u16810 {
  position:absolute;
  left:263px;
  top:54px;
  width:188px;
  height:206px;
}
#u16811 {
  position:absolute;
  left:2px;
  top:95px;
  width:184px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16812_div {
  position:absolute;
  left:0px;
  top:0px;
  width:184px;
  height:51px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#CCCCCC;
}
#u16812 {
  position:absolute;
  left:265px;
  top:56px;
  width:184px;
  height:51px;
  color:#CCCCCC;
}
#u16813 {
  position:absolute;
  left:2px;
  top:18px;
  width:180px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16814_div {
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  height:9px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u16814 {
  position:absolute;
  left:263px;
  top:56px;
  width:188px;
  height:9px;
}
#u16815 {
  position:absolute;
  left:2px;
  top:-4px;
  width:184px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16816_div {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:5px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u16816 {
  position:absolute;
  left:298px;
  top:58px;
  width:12px;
  height:5px;
}
#u16817 {
  position:absolute;
  left:2px;
  top:-6px;
  width:8px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16818_div {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:5px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u16818 {
  position:absolute;
  left:327px;
  top:58px;
  width:12px;
  height:5px;
}
#u16819 {
  position:absolute;
  left:2px;
  top:-6px;
  width:8px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16820_div {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:5px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u16820 {
  position:absolute;
  left:344px;
  top:58px;
  width:12px;
  height:5px;
}
#u16821 {
  position:absolute;
  left:2px;
  top:-6px;
  width:8px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16822_div {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:5px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u16822 {
  position:absolute;
  left:361px;
  top:58px;
  width:12px;
  height:5px;
}
#u16823 {
  position:absolute;
  left:2px;
  top:-6px;
  width:8px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16824_div {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:5px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u16824 {
  position:absolute;
  left:378px;
  top:58px;
  width:12px;
  height:5px;
}
#u16825 {
  position:absolute;
  left:2px;
  top:-6px;
  width:8px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16826_div {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:5px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u16826 {
  position:absolute;
  left:399px;
  top:58px;
  width:21px;
  height:5px;
}
#u16827 {
  position:absolute;
  left:2px;
  top:-6px;
  width:17px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16828_div {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:5px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u16828 {
  position:absolute;
  left:345px;
  top:114px;
  width:24px;
  height:5px;
}
#u16829 {
  position:absolute;
  left:2px;
  top:-6px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16830_div {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:5px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u16830 {
  position:absolute;
  left:324px;
  top:124px;
  width:66px;
  height:5px;
}
#u16831 {
  position:absolute;
  left:2px;
  top:-6px;
  width:62px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16832_div {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:5px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u16832 {
  position:absolute;
  left:330px;
  top:134px;
  width:55px;
  height:5px;
}
#u16833 {
  position:absolute;
  left:2px;
  top:-6px;
  width:51px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16834_div {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:5px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u16834 {
  position:absolute;
  left:324px;
  top:144px;
  width:66px;
  height:5px;
}
#u16835 {
  position:absolute;
  left:2px;
  top:-6px;
  width:62px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16836_div {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:5px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u16836 {
  position:absolute;
  left:330px;
  top:154px;
  width:55px;
  height:5px;
}
#u16837 {
  position:absolute;
  left:2px;
  top:-6px;
  width:51px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16838_div {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:22px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u16838 {
  position:absolute;
  left:304px;
  top:164px;
  width:116px;
  height:22px;
}
#u16839 {
  position:absolute;
  left:2px;
  top:3px;
  width:112px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16840_div {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:5px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u16840 {
  position:absolute;
  left:330px;
  top:206px;
  width:55px;
  height:5px;
}
#u16841 {
  position:absolute;
  left:2px;
  top:-6px;
  width:51px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16842_div {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:5px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u16842 {
  position:absolute;
  left:330px;
  top:219px;
  width:55px;
  height:5px;
}
#u16843 {
  position:absolute;
  left:2px;
  top:-6px;
  width:51px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16844_div {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 204, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u16844 {
  position:absolute;
  left:398px;
  top:58px;
  width:51px;
  height:23px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u16845 {
  position:absolute;
  left:2px;
  top:3px;
  width:47px;
  word-wrap:break-word;
}
#u16846_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
  text-align:center;
}
#u16846 {
  position:absolute;
  left:352px;
  top:0px;
  width:65px;
  height:29px;
  color:#FFFFFF;
  text-align:center;
}
#u16847 {
  position:absolute;
  left:0px;
  top:4px;
  width:65px;
  word-wrap:break-word;
}
#u16714_state2 {
  position:relative;
  left:0px;
  top:0px;
  visibility:hidden;
  background-image:none;
}
#u16714_state2_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u16848_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
  text-align:center;
}
#u16848 {
  position:absolute;
  left:161px;
  top:0px;
  width:65px;
  height:29px;
  color:#FFFFFF;
  text-align:center;
}
#u16849 {
  position:absolute;
  left:0px;
  top:4px;
  width:65px;
  word-wrap:break-word;
}
#u16850_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:29px;
  background:inherit;
  background-color:rgba(41, 44, 54, 0.898039215686275);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
  text-align:center;
}
#u16850 {
  position:absolute;
  left:377px;
  top:0px;
  width:65px;
  height:29px;
  color:#FFFFFF;
  text-align:center;
}
#u16851 {
  position:absolute;
  left:0px;
  top:4px;
  width:65px;
  word-wrap:break-word;
}
#u16852_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
  text-align:center;
}
#u16852 {
  position:absolute;
  left:264px;
  top:0px;
  width:65px;
  height:29px;
  color:#FFFFFF;
  text-align:center;
}
#u16853 {
  position:absolute;
  left:0px;
  top:4px;
  width:65px;
  word-wrap:break-word;
}
#u16854_div {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:46px;
  background:inherit;
  background-color:rgba(51, 153, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u16854 {
  position:absolute;
  left:103px;
  top:73px;
  width:98px;
  height:46px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u16855 {
  position:absolute;
  left:2px;
  top:14px;
  width:94px;
  word-wrap:break-word;
}
#u16856_div {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:46px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u16856 {
  position:absolute;
  left:235px;
  top:73px;
  width:98px;
  height:46px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u16857 {
  position:absolute;
  left:2px;
  top:14px;
  width:94px;
  word-wrap:break-word;
}
#u16858_div {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:46px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u16858 {
  position:absolute;
  left:365px;
  top:73px;
  width:98px;
  height:46px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u16859 {
  position:absolute;
  left:2px;
  top:14px;
  width:94px;
  word-wrap:break-word;
}
#u16860_div {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 204, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u16860 {
  position:absolute;
  left:259px;
  top:129px;
  width:51px;
  height:23px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u16861 {
  position:absolute;
  left:2px;
  top:3px;
  width:47px;
  word-wrap:break-word;
}
#u16862_div {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 204, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u16862 {
  position:absolute;
  left:389px;
  top:129px;
  width:51px;
  height:23px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u16863 {
  position:absolute;
  left:2px;
  top:3px;
  width:47px;
  word-wrap:break-word;
}
#u16864_div {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:40px;
  background:inherit;
  background-color:rgba(0, 153, 255, 1);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u16864 {
  position:absolute;
  left:780px;
  top:287px;
  width:84px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u16865 {
  position:absolute;
  left:2px;
  top:11px;
  width:80px;
  word-wrap:break-word;
}
#u16866_div {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:40px;
  background:inherit;
  background-color:rgba(204, 204, 102, 1);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u16866 {
  position:absolute;
  left:883px;
  top:287px;
  width:84px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u16867 {
  position:absolute;
  left:2px;
  top:11px;
  width:80px;
  word-wrap:break-word;
}
#u16868 {
  position:fixed;
  left:0px;
  bottom:349px;
  width:1799px;
  height:52px;
  overflow:hidden;
  visibility:hidden;
}
#u16868_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:1799px;
  height:52px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-color:rgba(41, 44, 54, 0.6);
  background-image:none;
}
#u16868_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u16869_div {
  position:absolute;
  left:0px;
  top:0px;
  width:137px;
  height:52px;
  background:inherit;
  background-color:rgba(41, 44, 54, 0.898039215686275);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u16869 {
  position:absolute;
  left:654px;
  top:0px;
  width:137px;
  height:52px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u16870 {
  position:absolute;
  left:2px;
  top:17px;
  width:133px;
  word-wrap:break-word;
}
#u16871_div {
  position:absolute;
  left:0px;
  top:0px;
  width:137px;
  height:52px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u16871 {
  position:absolute;
  left:791px;
  top:0px;
  width:137px;
  height:52px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u16871_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:137px;
  height:52px;
  background:inherit;
  background-color:rgba(41, 44, 54, 0.6);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u16871.mouseOver {
}
#u16872 {
  position:absolute;
  left:2px;
  top:17px;
  width:133px;
  word-wrap:break-word;
}
#u16873_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u16873 {
  position:absolute;
  left:1052px;
  top:15px;
  width:22px;
  height:22px;
}
#u16874 {
  position:absolute;
  left:2px;
  top:3px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16875 {
  position:fixed;
  left:0px;
  top:0px;
  width:1301px;
  height:3000px;
  overflow:hidden;
  visibility:hidden;
}
#u16875_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:1301px;
  height:3000px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-color:rgba(40, 44, 53, 0.8);
  background-image:none;
}
#u16875_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u16876 {
  position:fixed;
  left:50%;
  margin-left:-305px;
  top:50%;
  margin-top:-203px;
  width:610px;
  height:406px;
  overflow:hidden;
}
#u16876_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:610px;
  height:406px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-color:rgba(255, 255, 255, 1);
  background-image:none;
}
#u16876_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u16877_img {
  position:absolute;
  left:0px;
  top:0px;
  width:561px;
  height:350px;
}
#u16877 {
  position:absolute;
  left:26px;
  top:19px;
  width:561px;
  height:350px;
}
#u16878 {
  position:absolute;
  left:2px;
  top:167px;
  width:557px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16879_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u16879 {
  position:absolute;
  left:561px;
  top:19px;
  width:20px;
  height:20px;
}
#u16880 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16881 {
  position:fixed;
  left:10px;
  top:10px;
  width:1301px;
  height:3000px;
  overflow:hidden;
  visibility:hidden;
}
#u16881_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:1301px;
  height:3000px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-color:rgba(40, 44, 53, 0.8);
  background-image:none;
}
#u16881_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u16882 {
  position:fixed;
  left:50%;
  margin-left:-305px;
  top:50%;
  margin-top:-203px;
  width:610px;
  height:406px;
  overflow:hidden;
}
#u16882_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:610px;
  height:406px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-color:rgba(255, 255, 255, 1);
  background-image:none;
}
#u16882_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u16883_img {
  position:absolute;
  left:0px;
  top:0px;
  width:325px;
  height:353px;
}
#u16883 {
  position:absolute;
  left:26px;
  top:19px;
  width:325px;
  height:353px;
}
#u16884 {
  position:absolute;
  left:2px;
  top:168px;
  width:321px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16885_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u16885 {
  position:absolute;
  left:561px;
  top:19px;
  width:20px;
  height:20px;
}
#u16886 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16887 {
  position:fixed;
  left:20px;
  top:20px;
  width:1301px;
  height:3000px;
  overflow:hidden;
  visibility:hidden;
}
#u16887_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:1301px;
  height:3000px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-color:rgba(40, 44, 53, 0.8);
  background-image:none;
}
#u16887_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u16888 {
  position:fixed;
  left:50%;
  margin-left:-305px;
  top:50%;
  margin-top:-288px;
  width:610px;
  height:576px;
  overflow:hidden;
}
#u16888_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:610px;
  height:576px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-color:rgba(255, 255, 255, 1);
  background-image:none;
}
#u16888_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u16889_img {
  position:absolute;
  left:0px;
  top:0px;
  width:551px;
  height:846px;
}
#u16889 {
  position:absolute;
  left:16px;
  top:0px;
  width:551px;
  height:846px;
}
#u16890 {
  position:absolute;
  left:2px;
  top:415px;
  width:547px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16891_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u16891 {
  position:absolute;
  left:561px;
  top:19px;
  width:20px;
  height:20px;
}
#u16892 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
