body {
  margin:0px;
  background-color:rgba(247, 248, 252, 1);
  background-image:none;
  position:relative;
  left:-321px;
  width:961px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u4824 {
  position:fixed;
  left:0px;
  top:0px;
  width:1300px;
  height:48px;
  overflow:hidden;
}
#u4824_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:1300px;
  height:48px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-color:rgba(255, 255, 255, 1);
  background-image:none;
}
#u4824_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u4825_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1300px;
  height:48px;
}
#u4825 {
  position:absolute;
  left:0px;
  top:0px;
  width:1300px;
  height:48px;
}
#u4826 {
  position:absolute;
  left:2px;
  top:16px;
  width:1296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4827 {
  position:absolute;
  left:22px;
  top:4px;
}
#u4827_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u4827_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u4828_img {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:40px;
}
#u4828 {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:40px;
}
#u4829 {
  position:absolute;
  left:2px;
  top:12px;
  width:117px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4830 {
  position:fixed;
  left:182px;
  top:14px;
  width:60px;
  height:20px;
  overflow:hidden;
}
#u4830_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:20px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u4830_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u4831_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u4831 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u4831_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u4831.mouseOver {
}
#u4832 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u4833 {
  position:fixed;
  right:228px;
  top:0px;
  width:78px;
  height:48px;
  overflow:hidden;
}
#u4833_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:48px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u4833_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u4834 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4835_div {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4835 {
  position:absolute;
  left:28px;
  top:15px;
  width:27px;
  height:18px;
}
#u4836 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u4837_img {
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  height:7px;
}
#u4837 {
  position:absolute;
  left:65px;
  top:21px;
  width:11px;
  height:7px;
}
#u4838 {
  position:absolute;
  left:2px;
  top:-4px;
  width:7px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4839_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:14px;
}
#u4839 {
  position:absolute;
  left:0px;
  top:17px;
  width:21px;
  height:14px;
}
#u4840 {
  position:absolute;
  left:2px;
  top:-1px;
  width:17px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4841 {
  position:fixed;
  right:20px;
  top:1px;
  width:173px;
  height:47px;
  overflow:hidden;
}
#u4841_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  height:47px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u4841_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u4842_div {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:36px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  border:none;
  border-radius:50px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4842 {
  position:absolute;
  left:129px;
  top:5px;
  width:36px;
  height:36px;
}
#u4843 {
  position:absolute;
  left:2px;
  top:10px;
  width:32px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4844_div {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:36px;
  background:inherit;
  background-color:rgba(51, 153, 255, 1);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u4844 {
  position:absolute;
  left:1px;
  top:5px;
  width:101px;
  height:36px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u4845 {
  position:absolute;
  left:2px;
  top:10px;
  width:97px;
  word-wrap:break-word;
}
#u4846 {
  position:fixed;
  left:-1px;
  top:48px;
  width:1300px;
  height:6px;
  overflow:hidden;
}
#u4846_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:1300px;
  height:6px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:url('../../images/主办方聚合页/u23_state0.png');
  background-position:left top;
  background-repeat:repeat-x;
  background-attachment:scroll;
  background-size:4px 6px;
}
#u4846_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u4847 {
  position:fixed;
  right:20px;
  top:61px;
  visibility:hidden;
}
#u4847_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u4847_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u4848_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:612px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:0px 5px 10px rgba(0, 0, 0, 0.0980392156862745);
  -webkit-box-shadow:0px 5px 10px rgba(0, 0, 0, 0.0980392156862745);
  box-shadow:0px 5px 10px rgba(0, 0, 0, 0.0980392156862745);
}
#u4848 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:612px;
}
#u4849 {
  position:absolute;
  left:2px;
  top:298px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4850_div {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:50px;
  background:inherit;
  background-color:rgba(0, 204, 204, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4850 {
  position:absolute;
  left:30px;
  top:232px;
  width:51px;
  height:50px;
}
#u4851 {
  position:absolute;
  left:2px;
  top:17px;
  width:47px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4852_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4852 {
  position:absolute;
  left:27px;
  top:292px;
  width:57px;
  height:20px;
}
#u4853 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u4854_div {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:50px;
  background:inherit;
  background-color:rgba(0, 204, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4854 {
  position:absolute;
  left:32px;
  top:18px;
  width:51px;
  height:50px;
}
#u4855 {
  position:absolute;
  left:2px;
  top:17px;
  width:47px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4856_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4856 {
  position:absolute;
  left:29px;
  top:78px;
  width:57px;
  height:20px;
}
#u4857 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u4858_div {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 51, 51, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4858 {
  position:absolute;
  left:127px;
  top:18px;
  width:51px;
  height:50px;
}
#u4859 {
  position:absolute;
  left:2px;
  top:17px;
  width:47px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4860_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4860 {
  position:absolute;
  left:119px;
  top:78px;
  width:71px;
  height:20px;
}
#u4861 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u4862_div {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 153, 153, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4862 {
  position:absolute;
  left:30px;
  top:127px;
  width:51px;
  height:50px;
}
#u4863 {
  position:absolute;
  left:2px;
  top:17px;
  width:47px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4864_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4864 {
  position:absolute;
  left:22px;
  top:187px;
  width:71px;
  height:20px;
}
#u4865 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u4866_div {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 153, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4866 {
  position:absolute;
  left:218px;
  top:127px;
  width:51px;
  height:50px;
}
#u4867 {
  position:absolute;
  left:2px;
  top:17px;
  width:47px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4868_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4868 {
  position:absolute;
  left:215px;
  top:187px;
  width:57px;
  height:20px;
}
#u4869 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u4870_img {
  position:absolute;
  left:0px;
  top:0px;
  width:246px;
  height:2px;
}
#u4870 {
  position:absolute;
  left:26px;
  top:332px;
  width:245px;
  height:1px;
}
#u4871 {
  position:absolute;
  left:2px;
  top:-8px;
  width:241px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4872_div {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u4872 {
  position:absolute;
  left:118px;
  top:314px;
  width:72px;
  height:35px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u4873 {
  position:absolute;
  left:2px;
  top:8px;
  width:68px;
  word-wrap:break-word;
}
#u4874_div {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:50px;
  background:inherit;
  background-color:rgba(204, 102, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4874 {
  position:absolute;
  left:29px;
  top:367px;
  width:51px;
  height:50px;
}
#u4875 {
  position:absolute;
  left:2px;
  top:17px;
  width:47px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4876_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4876 {
  position:absolute;
  left:33px;
  top:427px;
  width:43px;
  height:20px;
}
#u4877 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u4878_div {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 153, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4878 {
  position:absolute;
  left:126px;
  top:367px;
  width:51px;
  height:50px;
}
#u4879 {
  position:absolute;
  left:2px;
  top:17px;
  width:47px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4880_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4880 {
  position:absolute;
  left:124px;
  top:427px;
  width:57px;
  height:20px;
}
#u4881 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u4882_div {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:50px;
  background:inherit;
  background-color:rgba(102, 204, 153, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4882 {
  position:absolute;
  left:220px;
  top:367px;
  width:51px;
  height:50px;
}
#u4883 {
  position:absolute;
  left:2px;
  top:17px;
  width:47px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4884_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4884 {
  position:absolute;
  left:231px;
  top:427px;
  width:29px;
  height:20px;
}
#u4885 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u4886_div {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:50px;
  background:inherit;
  background-color:rgba(0, 153, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4886 {
  position:absolute;
  left:29px;
  top:477px;
  width:51px;
  height:50px;
}
#u4887 {
  position:absolute;
  left:2px;
  top:17px;
  width:47px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4888_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4888 {
  position:absolute;
  left:33px;
  top:537px;
  width:43px;
  height:20px;
}
#u4889 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u4890_div {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:50px;
  background:inherit;
  background-color:rgba(51, 204, 204, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4890 {
  position:absolute;
  left:126px;
  top:477px;
  width:51px;
  height:50px;
}
#u4891 {
  position:absolute;
  left:2px;
  top:17px;
  width:47px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4892_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4892 {
  position:absolute;
  left:135px;
  top:537px;
  width:29px;
  height:20px;
}
#u4893 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u4894_div {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:50px;
  background:inherit;
  background-color:rgba(0, 204, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4894 {
  position:absolute;
  left:127px;
  top:127px;
  width:51px;
  height:50px;
}
#u4895 {
  position:absolute;
  left:2px;
  top:17px;
  width:47px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4896_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4896 {
  position:absolute;
  left:123px;
  top:187px;
  width:57px;
  height:20px;
}
#u4897 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u4898_div {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:50px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4898 {
  position:absolute;
  left:125px;
  top:232px;
  width:51px;
  height:50px;
}
#u4899 {
  position:absolute;
  left:2px;
  top:17px;
  width:47px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4900_div {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4900 {
  position:absolute;
  left:121px;
  top:292px;
  width:56px;
  height:20px;
}
#u4901 {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  white-space:nowrap;
}
#u4902_div {
  position:absolute;
  left:0px;
  top:0px;
  width:298px;
  height:40px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4902 {
  position:absolute;
  left:1px;
  top:571px;
  width:298px;
  height:40px;
}
#u4903 {
  position:absolute;
  left:2px;
  top:12px;
  width:294px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4904_img {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:18px;
}
#u4904 {
  position:absolute;
  left:97px;
  top:582px;
  width:17px;
  height:18px;
}
#u4905 {
  position:absolute;
  left:2px;
  top:1px;
  width:13px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4906_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4906 {
  position:absolute;
  left:127px;
  top:581px;
  width:57px;
  height:20px;
}
#u4907 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u4908 {
  position:absolute;
  left:5px;
  top:571px;
  width:294px;
  height:40px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u4909_div {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:50px;
  background:inherit;
  background-color:rgba(51, 153, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4909 {
  position:absolute;
  left:219px;
  top:18px;
  width:51px;
  height:50px;
}
#u4910 {
  position:absolute;
  left:2px;
  top:17px;
  width:47px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4911_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4911 {
  position:absolute;
  left:215px;
  top:78px;
  width:57px;
  height:20px;
}
#u4912 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u4913_div {
  position:absolute;
  left:0px;
  top:0px;
  width:960px;
  height:1045px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:4px;
  -moz-box-shadow:0px 12px 28px rgba(210, 214, 223, 0.23921568627451);
  -webkit-box-shadow:0px 12px 28px rgba(210, 214, 223, 0.23921568627451);
  box-shadow:0px 12px 28px rgba(210, 214, 223, 0.23921568627451);
}
#u4913 {
  position:absolute;
  left:322px;
  top:149px;
  width:960px;
  height:1045px;
}
#u4914 {
  position:absolute;
  left:2px;
  top:514px;
  width:956px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4915_div {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangHK-Regular', 'PingFang HK';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u4915 {
  position:absolute;
  left:453px;
  top:390px;
  width:41px;
  height:20px;
  font-family:'PingFangHK-Regular', 'PingFang HK';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u4916 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
#u4917 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4918_div {
  position:absolute;
  left:0px;
  top:0px;
  width:678px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#CCCCCC;
  text-align:left;
}
#u4918 {
  position:absolute;
  left:453px;
  top:432px;
  width:678px;
  height:38px;
  color:#CCCCCC;
  text-align:left;
}
#u4919 {
  position:absolute;
  left:2px;
  top:11px;
  width:674px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4920 {
  position:absolute;
  left:461px;
  top:439px;
  width:663px;
  height:25px;
}
#u4920_input {
  position:absolute;
  left:0px;
  top:0px;
  width:663px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u4921 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4922_div {
  position:absolute;
  left:0px;
  top:0px;
  width:678px;
  height:111px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#CCCCCC;
  text-align:left;
}
#u4922 {
  position:absolute;
  left:453px;
  top:903px;
  width:678px;
  height:111px;
  color:#CCCCCC;
  text-align:left;
}
#u4923 {
  position:absolute;
  left:2px;
  top:48px;
  width:674px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4924_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangHK-Regular', 'PingFang HK';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#1E1E1E;
}
#u4924 {
  position:absolute;
  left:453px;
  top:862px;
  width:29px;
  height:20px;
  font-family:'PingFangHK-Regular', 'PingFang HK';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#1E1E1E;
}
#u4925 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u4926_div {
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:40px;
  background:inherit;
  background-color:rgba(0, 153, 255, 1);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u4926 {
  position:absolute;
  left:735px;
  top:1047px;
  width:115px;
  height:40px;
  font-size:12px;
}
#u4927 {
  position:absolute;
  left:2px;
  top:12px;
  width:111px;
  word-wrap:break-word;
}
#u4928_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u4928 {
  position:absolute;
  left:321px;
  top:97px;
  width:73px;
  height:25px;
  font-size:18px;
}
#u4929 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u4930 {
  position:fixed;
  right:30px;
  top:79px;
  width:300px;
  height:77px;
  overflow:hidden;
  visibility:hidden;
}
#u4930_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:77px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u4930_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u4931_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:76px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0.6);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4931 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:76px;
}
#u4932 {
  position:absolute;
  left:2px;
  top:30px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4933_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#FFFFFF;
}
#u4933 {
  position:absolute;
  left:133px;
  top:25px;
  width:73px;
  height:25px;
  font-size:18px;
  color:#FFFFFF;
}
#u4934 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u4935_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:25px;
}
#u4935 {
  position:absolute;
  left:83px;
  top:25px;
  width:33px;
  height:25px;
}
#u4936 {
  position:absolute;
  left:2px;
  top:4px;
  width:29px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4937_img {
  position:absolute;
  left:0px;
  top:0px;
  width:420px;
  height:183px;
}
#u4937 {
  position:absolute;
  left:569px;
  top:204px;
  width:420px;
  height:183px;
}
#u4938 {
  position:absolute;
  left:2px;
  top:84px;
  width:416px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4939_div {
  position:absolute;
  left:0px;
  top:0px;
  width:253px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u4939 {
  position:absolute;
  left:665px;
  top:348px;
  width:253px;
  height:25px;
  color:#999999;
}
#u4940 {
  position:absolute;
  left:0px;
  top:0px;
  width:253px;
  white-space:nowrap;
}
#u4941_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangHK-Regular', 'PingFang HK';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u4941 {
  position:absolute;
  left:453px;
  top:604px;
  width:71px;
  height:20px;
  font-family:'PingFangHK-Regular', 'PingFang HK';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u4942 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u4943 {
  position:absolute;
  left:453px;
  top:642px;
  width:100px;
  height:18px;
}
#u4944 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u4943_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u4945 {
  position:absolute;
  left:453px;
  top:687px;
  width:100px;
  height:18px;
}
#u4946 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u4945_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u4947_div {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangHK-Regular', 'PingFang HK';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u4947 {
  position:absolute;
  left:453px;
  top:734px;
  width:155px;
  height:20px;
  font-family:'PingFangHK-Regular', 'PingFang HK';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u4948 {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  white-space:nowrap;
}
#u4949 {
  position:absolute;
  left:453px;
  top:771px;
  width:175px;
  height:18px;
}
#u4950 {
  position:absolute;
  left:16px;
  top:0px;
  width:157px;
  word-wrap:break-word;
}
#u4949_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u4951 {
  position:absolute;
  left:453px;
  top:814px;
  width:190px;
  height:18px;
}
#u4952 {
  position:absolute;
  left:16px;
  top:0px;
  width:172px;
  word-wrap:break-word;
}
#u4951_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u4953_div {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangHK-Regular', 'PingFang HK';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u4953 {
  position:absolute;
  left:453px;
  top:497px;
  width:41px;
  height:20px;
  font-family:'PingFangHK-Regular', 'PingFang HK';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u4954 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
#u4955 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4956_div {
  position:absolute;
  left:0px;
  top:0px;
  width:678px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#CCCCCC;
  text-align:left;
}
#u4956 {
  position:absolute;
  left:453px;
  top:539px;
  width:678px;
  height:38px;
  color:#CCCCCC;
  text-align:left;
}
#u4957 {
  position:absolute;
  left:2px;
  top:11px;
  width:674px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4958 {
  position:absolute;
  left:461px;
  top:546px;
  width:663px;
  height:25px;
}
#u4958_input {
  position:absolute;
  left:0px;
  top:0px;
  width:663px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u4960 {
  position:absolute;
  left:321px;
  top:1227px;
  width:960px;
  height:256px;
  overflow:hidden;
}
#u4960_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:960px;
  height:256px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:url('../../images/主办方聚合页/u226_state0.png');
  background-position:left top;
  background-repeat:repeat-x;
  background-attachment:scroll;
  background-size:37px 504px;
}
#u4960_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u4961 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4962_div {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:152px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangHK-Regular', 'PingFang HK';
  font-weight:400;
  font-style:normal;
}
#u4962 {
  position:absolute;
  left:490px;
  top:1266px;
  width:120px;
  height:152px;
  font-family:'PingFangHK-Regular', 'PingFang HK';
  font-weight:400;
  font-style:normal;
}
#u4963 {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  word-wrap:break-word;
}
#u4964_div {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:180px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangHK-Regular', 'PingFang HK';
  font-weight:400;
  font-style:normal;
}
#u4964 {
  position:absolute;
  left:336px;
  top:1266px;
  width:120px;
  height:180px;
  font-family:'PingFangHK-Regular', 'PingFang HK';
  font-weight:400;
  font-style:normal;
}
#u4965 {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  word-wrap:break-word;
}
#u4966_div {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:180px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangHK-Regular', 'PingFang HK';
  font-weight:400;
  font-style:normal;
}
#u4966 {
  position:absolute;
  left:643px;
  top:1266px;
  width:120px;
  height:180px;
  font-family:'PingFangHK-Regular', 'PingFang HK';
  font-weight:400;
  font-style:normal;
}
#u4967 {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  word-wrap:break-word;
}
#u4968_div {
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  height:131px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangHK-Regular', 'PingFang HK';
  font-style:normal;
}
#u4968 {
  position:absolute;
  left:797px;
  top:1266px;
  width:183px;
  height:131px;
  font-family:'PingFangHK-Regular', 'PingFang HK';
  font-style:normal;
}
#u4969 {
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  word-wrap:break-word;
}
#u4970_img {
  position:absolute;
  left:0px;
  top:0px;
  width:961px;
  height:2px;
}
#u4970 {
  position:absolute;
  left:321px;
  top:1428px;
  width:960px;
  height:1px;
  opacity:0.200000002980232;
}
#u4971 {
  position:absolute;
  left:2px;
  top:-8px;
  width:956px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4972_div {
  position:absolute;
  left:0px;
  top:0px;
  width:490px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangHK-Regular', 'PingFang HK';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666A73;
}
#u4972 {
  position:absolute;
  left:336px;
  top:1446px;
  width:490px;
  height:17px;
  font-family:'PingFangHK-Regular', 'PingFang HK';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666A73;
}
#u4973 {
  position:absolute;
  left:0px;
  top:0px;
  width:490px;
  white-space:nowrap;
}
#u4974_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:120px;
}
#u4974 {
  position:absolute;
  left:1161px;
  top:1266px;
  width:120px;
  height:120px;
}
#u4975 {
  position:absolute;
  left:2px;
  top:52px;
  width:116px;
  visibility:hidden;
  word-wrap:break-word;
}
