body {
  margin:0px;
  background-color:rgba(243, 244, 248, 1);
  background-image:none;
  position:relative;
  left:-0px;
  width:1327px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u26671 {
  position:absolute;
  left:0px;
  top:0px;
  width:1327px;
  height:532px;
  overflow:hidden;
}
#u26671_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:1327px;
  height:532px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-color:rgba(102, 153, 255, 1);
  background-image:none;
}
#u26671_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u26672_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1000px;
  height:549px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u26672 {
  position:absolute;
  left:100px;
  top:55px;
  width:1000px;
  height:549px;
}
#u26673 {
  position:absolute;
  left:2px;
  top:266px;
  width:996px;
  visibility:hidden;
  word-wrap:break-word;
}
#u26674_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1000px;
  height:321px;
}
#u26674 {
  position:absolute;
  left:100px;
  top:55px;
  width:1000px;
  height:321px;
}
#u26675 {
  position:absolute;
  left:2px;
  top:152px;
  width:996px;
  visibility:hidden;
  word-wrap:break-word;
}
#u26676_div {
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u26676 {
  position:absolute;
  left:163px;
  top:407px;
  width:181px;
  height:25px;
}
#u26677 {
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  white-space:nowrap;
}
#u26678_div {
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#999999;
}
#u26678 {
  position:absolute;
  left:163px;
  top:442px;
  width:115px;
  height:20px;
  font-size:14px;
  color:#999999;
}
#u26679 {
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  white-space:nowrap;
}
#u26680_div {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#999999;
}
#u26680 {
  position:absolute;
  left:305px;
  top:442px;
  width:67px;
  height:20px;
  font-size:14px;
  color:#999999;
}
#u26681 {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  white-space:nowrap;
}
#u26682_div {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#999999;
}
#u26682 {
  position:absolute;
  left:397px;
  top:442px;
  width:67px;
  height:20px;
  font-size:14px;
  color:#999999;
}
#u26683 {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  white-space:nowrap;
}
#u26684_img {
  position:absolute;
  left:0px;
  top:0px;
  width:894px;
  height:2px;
}
#u26684 {
  position:absolute;
  left:163px;
  top:482px;
  width:893px;
  height:1px;
}
#u26685 {
  position:absolute;
  left:2px;
  top:-8px;
  width:889px;
  visibility:hidden;
  word-wrap:break-word;
}
#u26686_div {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#999999;
}
#u26686 {
  position:absolute;
  left:163px;
  top:507px;
  width:85px;
  height:20px;
  font-size:14px;
  color:#999999;
}
#u26687 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u26688_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#999999;
}
#u26688 {
  position:absolute;
  left:345px;
  top:502px;
  width:57px;
  height:16px;
  font-size:14px;
  color:#999999;
}
#u26689 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  visibility:hidden;
  white-space:nowrap;
}
#u26690_div {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:38px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#999999;
}
#u26690 {
  position:absolute;
  left:258px;
  top:507px;
  width:87px;
  height:38px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#999999;
}
#u26690_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:38px;
  background:inherit;
  background-color:rgba(201, 201, 201, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#999999;
}
#u26690.mouseOver {
}
#u26691 {
  position:absolute;
  left:2px;
  top:10px;
  width:83px;
  word-wrap:break-word;
}
#u26692_div {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:38px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#999999;
}
#u26692 {
  position:absolute;
  left:355px;
  top:507px;
  width:82px;
  height:38px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#999999;
}
#u26692_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:38px;
  background:inherit;
  background-color:rgba(201, 201, 201, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#999999;
}
#u26692.mouseOver {
}
#u26693 {
  position:absolute;
  left:2px;
  top:10px;
  width:78px;
  word-wrap:break-word;
}
#u26694_div {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:45px;
  background:inherit;
  background-color:rgba(0, 153, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u26694 {
  position:absolute;
  left:885px;
  top:512px;
  width:171px;
  height:45px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u26695 {
  position:absolute;
  left:2px;
  top:14px;
  width:167px;
  word-wrap:break-word;
}
#u26696_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#0099FF;
}
#u26696 {
  position:absolute;
  left:816px;
  top:522px;
  width:37px;
  height:25px;
  color:#0099FF;
}
#u26697 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u26698_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1000px;
  height:1487px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u26698 {
  position:absolute;
  left:100px;
  top:638px;
  width:1000px;
  height:1487px;
}
#u26699 {
  position:absolute;
  left:2px;
  top:736px;
  width:996px;
  visibility:hidden;
  word-wrap:break-word;
}
#u26700_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u26700 {
  position:absolute;
  left:137px;
  top:667px;
  width:73px;
  height:25px;
  color:#000000;
}
#u26701 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u26702_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u26702 {
  position:absolute;
  left:266px;
  top:667px;
  width:73px;
  height:25px;
  color:#000000;
}
#u26703 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u26704_div {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u26704 {
  position:absolute;
  left:411px;
  top:667px;
  width:91px;
  height:25px;
  color:#000000;
}
#u26705 {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  white-space:nowrap;
}
#u26706_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1001px;
  height:2px;
}
#u26706 {
  position:absolute;
  left:100px;
  top:713px;
  width:1000px;
  height:1px;
}
#u26707 {
  position:absolute;
  left:2px;
  top:-8px;
  width:996px;
  visibility:hidden;
  word-wrap:break-word;
}
#u26708_div {
  position:absolute;
  left:0px;
  top:0px;
  width:933px;
  height:54px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u26708 {
  position:absolute;
  left:137px;
  top:783px;
  width:933px;
  height:54px;
}
#u26709 {
  position:absolute;
  left:0px;
  top:0px;
  width:933px;
  word-wrap:break-word;
}
#u26710_div {
  position:absolute;
  left:0px;
  top:0px;
  width:933px;
  height:54px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u26710 {
  position:absolute;
  left:137px;
  top:855px;
  width:933px;
  height:54px;
}
#u26711 {
  position:absolute;
  left:0px;
  top:0px;
  width:933px;
  word-wrap:break-word;
}
#u26712_div {
  position:absolute;
  left:0px;
  top:0px;
  width:933px;
  height:54px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u26712 {
  position:absolute;
  left:137px;
  top:925px;
  width:933px;
  height:54px;
}
#u26713 {
  position:absolute;
  left:0px;
  top:0px;
  width:933px;
  word-wrap:break-word;
}
#u26714_div {
  position:absolute;
  left:0px;
  top:0px;
  width:933px;
  height:54px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u26714 {
  position:absolute;
  left:137px;
  top:997px;
  width:933px;
  height:54px;
}
#u26715 {
  position:absolute;
  left:0px;
  top:0px;
  width:933px;
  word-wrap:break-word;
}
#u26716_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u26716 {
  position:absolute;
  left:573px;
  top:736px;
  width:73px;
  height:25px;
  color:#000000;
}
#u26717 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u26718_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u26718 {
  position:absolute;
  left:582px;
  top:1094px;
  width:73px;
  height:25px;
  color:#000000;
}
#u26719 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u26720_div {
  position:absolute;
  left:0px;
  top:0px;
  width:253px;
  height:260px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u26720 {
  position:absolute;
  left:163px;
  top:1180px;
  width:253px;
  height:260px;
}
#u26721 {
  position:absolute;
  left:2px;
  top:122px;
  width:249px;
  visibility:hidden;
  word-wrap:break-word;
}
#u26722_div {
  position:absolute;
  left:0px;
  top:0px;
  width:253px;
  height:260px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u26722 {
  position:absolute;
  left:483px;
  top:1180px;
  width:253px;
  height:260px;
}
#u26723 {
  position:absolute;
  left:2px;
  top:122px;
  width:249px;
  visibility:hidden;
  word-wrap:break-word;
}
#u26724_div {
  position:absolute;
  left:0px;
  top:0px;
  width:253px;
  height:260px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u26724 {
  position:absolute;
  left:803px;
  top:1180px;
  width:253px;
  height:260px;
}
#u26725 {
  position:absolute;
  left:2px;
  top:122px;
  width:249px;
  visibility:hidden;
  word-wrap:break-word;
}
#u26726_div {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u26726 {
  position:absolute;
  left:582px;
  top:1500px;
  width:91px;
  height:25px;
  color:#000000;
}
#u26727 {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  white-space:nowrap;
}
#u26728_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1000px;
  height:365px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:48px;
  color:#999999;
}
#u26728 {
  position:absolute;
  left:100px;
  top:1572px;
  width:1000px;
  height:365px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:48px;
  color:#999999;
}
#u26729 {
  position:absolute;
  left:2px;
  top:149px;
  width:996px;
  word-wrap:break-word;
}
#u26730_div {
  position:absolute;
  left:0px;
  top:0px;
  width:241px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u26730 {
  position:absolute;
  left:163px;
  top:1973px;
  width:241px;
  height:22px;
  font-size:16px;
}
#u26731 {
  position:absolute;
  left:0px;
  top:0px;
  width:241px;
  white-space:nowrap;
}
#u26732_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(0, 153, 255, 1);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u26732 {
  position:absolute;
  left:916px;
  top:1964px;
  width:140px;
  height:40px;
}
#u26733 {
  position:absolute;
  left:2px;
  top:11px;
  width:136px;
  word-wrap:break-word;
}
#u26734_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1001px;
  height:2px;
}
#u26734 {
  position:absolute;
  left:100px;
  top:2034px;
  width:1000px;
  height:1px;
}
#u26735 {
  position:absolute;
  left:2px;
  top:-8px;
  width:996px;
  visibility:hidden;
  word-wrap:break-word;
}
#u26736_div {
  position:absolute;
  left:0px;
  top:0px;
  width:784px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u26736 {
  position:absolute;
  left:163px;
  top:2066px;
  width:784px;
  height:22px;
  font-size:16px;
}
#u26737 {
  position:absolute;
  left:0px;
  top:0px;
  width:784px;
  white-space:nowrap;
}
#u26738_div {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:46px;
  background:inherit;
  background-color:rgba(255, 102, 102, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u26738 {
  position:absolute;
  left:980px;
  top:55px;
  width:120px;
  height:46px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u26739 {
  position:absolute;
  left:2px;
  top:14px;
  width:116px;
  word-wrap:break-word;
}
#u26740_div {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:38px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#999999;
}
#u26740 {
  position:absolute;
  left:447px;
  top:507px;
  width:82px;
  height:38px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#999999;
}
#u26740_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:38px;
  background:inherit;
  background-color:rgba(201, 201, 201, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#999999;
}
#u26740.mouseOver {
}
#u26741 {
  position:absolute;
  left:2px;
  top:10px;
  width:78px;
  word-wrap:break-word;
}
#u26742_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:57px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0.6);
  border:none;
  border-radius:100px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u26742 {
  position:absolute;
  left:1145px;
  top:798px;
  width:57px;
  height:57px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u26743 {
  position:absolute;
  left:2px;
  top:12px;
  width:53px;
  word-wrap:break-word;
}
#u26744_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:57px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0.6);
  border:none;
  border-radius:100px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u26744 {
  position:absolute;
  left:1145px;
  top:880px;
  width:57px;
  height:57px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u26745 {
  position:absolute;
  left:2px;
  top:12px;
  width:53px;
  word-wrap:break-word;
}
