body {
  margin:0px;
  background-color:rgba(243, 244, 248, 1);
  background-image:none;
  position:relative;
  left:-0px;
  width:1327px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u26206 {
  position:absolute;
  left:0px;
  top:0px;
  width:1327px;
  height:532px;
  overflow:hidden;
}
#u26206_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:1327px;
  height:532px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-color:rgba(102, 153, 255, 1);
  background-image:none;
}
#u26206_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u26207_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1000px;
  height:549px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u26207 {
  position:absolute;
  left:100px;
  top:55px;
  width:1000px;
  height:549px;
}
#u26208 {
  position:absolute;
  left:2px;
  top:266px;
  width:996px;
  visibility:hidden;
  word-wrap:break-word;
}
#u26209_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1000px;
  height:321px;
}
#u26209 {
  position:absolute;
  left:100px;
  top:55px;
  width:1000px;
  height:321px;
}
#u26210 {
  position:absolute;
  left:2px;
  top:152px;
  width:996px;
  visibility:hidden;
  word-wrap:break-word;
}
#u26211_div {
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u26211 {
  position:absolute;
  left:163px;
  top:407px;
  width:181px;
  height:25px;
}
#u26212 {
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  white-space:nowrap;
}
#u26213_div {
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#999999;
}
#u26213 {
  position:absolute;
  left:163px;
  top:442px;
  width:115px;
  height:20px;
  font-size:14px;
  color:#999999;
}
#u26214 {
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  white-space:nowrap;
}
#u26215_div {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#999999;
}
#u26215 {
  position:absolute;
  left:305px;
  top:442px;
  width:67px;
  height:20px;
  font-size:14px;
  color:#999999;
}
#u26216 {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  white-space:nowrap;
}
#u26217_div {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#999999;
}
#u26217 {
  position:absolute;
  left:397px;
  top:442px;
  width:67px;
  height:20px;
  font-size:14px;
  color:#999999;
}
#u26218 {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  white-space:nowrap;
}
#u26219_img {
  position:absolute;
  left:0px;
  top:0px;
  width:894px;
  height:2px;
}
#u26219 {
  position:absolute;
  left:163px;
  top:482px;
  width:893px;
  height:1px;
}
#u26220 {
  position:absolute;
  left:2px;
  top:-8px;
  width:889px;
  visibility:hidden;
  word-wrap:break-word;
}
#u26221_div {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#999999;
}
#u26221 {
  position:absolute;
  left:163px;
  top:507px;
  width:85px;
  height:20px;
  font-size:14px;
  color:#999999;
}
#u26222 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u26223_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#999999;
}
#u26223 {
  position:absolute;
  left:345px;
  top:502px;
  width:57px;
  height:16px;
  font-size:14px;
  color:#999999;
}
#u26224 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  visibility:hidden;
  white-space:nowrap;
}
#u26225_div {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:38px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#999999;
}
#u26225 {
  position:absolute;
  left:258px;
  top:507px;
  width:87px;
  height:38px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#999999;
}
#u26225_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:38px;
  background:inherit;
  background-color:rgba(201, 201, 201, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#999999;
}
#u26225.mouseOver {
}
#u26226 {
  position:absolute;
  left:2px;
  top:10px;
  width:83px;
  word-wrap:break-word;
}
#u26227_div {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:38px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#999999;
}
#u26227 {
  position:absolute;
  left:355px;
  top:507px;
  width:82px;
  height:38px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#999999;
}
#u26227_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:38px;
  background:inherit;
  background-color:rgba(201, 201, 201, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#999999;
}
#u26227.mouseOver {
}
#u26228 {
  position:absolute;
  left:2px;
  top:10px;
  width:78px;
  word-wrap:break-word;
}
#u26229_div {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:45px;
  background:inherit;
  background-color:rgba(0, 153, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u26229 {
  position:absolute;
  left:885px;
  top:512px;
  width:171px;
  height:45px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u26230 {
  position:absolute;
  left:2px;
  top:14px;
  width:167px;
  word-wrap:break-word;
}
#u26231_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#0099FF;
}
#u26231 {
  position:absolute;
  left:816px;
  top:522px;
  width:37px;
  height:25px;
  color:#0099FF;
}
#u26232 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u26233_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1000px;
  height:1487px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u26233 {
  position:absolute;
  left:100px;
  top:638px;
  width:1000px;
  height:1487px;
}
#u26234 {
  position:absolute;
  left:2px;
  top:736px;
  width:996px;
  visibility:hidden;
  word-wrap:break-word;
}
#u26235_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u26235 {
  position:absolute;
  left:137px;
  top:667px;
  width:73px;
  height:25px;
  color:#000000;
}
#u26236 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u26237_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u26237 {
  position:absolute;
  left:266px;
  top:667px;
  width:73px;
  height:25px;
  color:#000000;
}
#u26238 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u26239_div {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u26239 {
  position:absolute;
  left:411px;
  top:667px;
  width:91px;
  height:25px;
  color:#000000;
}
#u26240 {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  white-space:nowrap;
}
#u26241_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1001px;
  height:2px;
}
#u26241 {
  position:absolute;
  left:100px;
  top:713px;
  width:1000px;
  height:1px;
}
#u26242 {
  position:absolute;
  left:2px;
  top:-8px;
  width:996px;
  visibility:hidden;
  word-wrap:break-word;
}
#u26243_div {
  position:absolute;
  left:0px;
  top:0px;
  width:933px;
  height:54px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u26243 {
  position:absolute;
  left:137px;
  top:783px;
  width:933px;
  height:54px;
}
#u26244 {
  position:absolute;
  left:0px;
  top:0px;
  width:933px;
  word-wrap:break-word;
}
#u26245_div {
  position:absolute;
  left:0px;
  top:0px;
  width:933px;
  height:54px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u26245 {
  position:absolute;
  left:137px;
  top:855px;
  width:933px;
  height:54px;
}
#u26246 {
  position:absolute;
  left:0px;
  top:0px;
  width:933px;
  word-wrap:break-word;
}
#u26247_div {
  position:absolute;
  left:0px;
  top:0px;
  width:933px;
  height:54px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u26247 {
  position:absolute;
  left:137px;
  top:925px;
  width:933px;
  height:54px;
}
#u26248 {
  position:absolute;
  left:0px;
  top:0px;
  width:933px;
  word-wrap:break-word;
}
#u26249_div {
  position:absolute;
  left:0px;
  top:0px;
  width:933px;
  height:54px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u26249 {
  position:absolute;
  left:137px;
  top:997px;
  width:933px;
  height:54px;
}
#u26250 {
  position:absolute;
  left:0px;
  top:0px;
  width:933px;
  word-wrap:break-word;
}
#u26251_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u26251 {
  position:absolute;
  left:573px;
  top:736px;
  width:73px;
  height:25px;
  color:#000000;
}
#u26252 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u26253_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u26253 {
  position:absolute;
  left:582px;
  top:1094px;
  width:73px;
  height:25px;
  color:#000000;
}
#u26254 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u26255_div {
  position:absolute;
  left:0px;
  top:0px;
  width:253px;
  height:260px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u26255 {
  position:absolute;
  left:163px;
  top:1180px;
  width:253px;
  height:260px;
}
#u26256 {
  position:absolute;
  left:2px;
  top:122px;
  width:249px;
  visibility:hidden;
  word-wrap:break-word;
}
#u26257_div {
  position:absolute;
  left:0px;
  top:0px;
  width:253px;
  height:260px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u26257 {
  position:absolute;
  left:483px;
  top:1180px;
  width:253px;
  height:260px;
}
#u26258 {
  position:absolute;
  left:2px;
  top:122px;
  width:249px;
  visibility:hidden;
  word-wrap:break-word;
}
#u26259_div {
  position:absolute;
  left:0px;
  top:0px;
  width:253px;
  height:260px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u26259 {
  position:absolute;
  left:803px;
  top:1180px;
  width:253px;
  height:260px;
}
#u26260 {
  position:absolute;
  left:2px;
  top:122px;
  width:249px;
  visibility:hidden;
  word-wrap:break-word;
}
#u26261_div {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u26261 {
  position:absolute;
  left:582px;
  top:1500px;
  width:91px;
  height:25px;
  color:#000000;
}
#u26262 {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  white-space:nowrap;
}
#u26263_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1000px;
  height:365px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:48px;
  color:#999999;
}
#u26263 {
  position:absolute;
  left:100px;
  top:1572px;
  width:1000px;
  height:365px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:48px;
  color:#999999;
}
#u26264 {
  position:absolute;
  left:2px;
  top:149px;
  width:996px;
  word-wrap:break-word;
}
#u26265_div {
  position:absolute;
  left:0px;
  top:0px;
  width:241px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u26265 {
  position:absolute;
  left:163px;
  top:1973px;
  width:241px;
  height:22px;
  font-size:16px;
}
#u26266 {
  position:absolute;
  left:0px;
  top:0px;
  width:241px;
  white-space:nowrap;
}
#u26267_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(0, 153, 255, 1);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u26267 {
  position:absolute;
  left:916px;
  top:1964px;
  width:140px;
  height:40px;
}
#u26268 {
  position:absolute;
  left:2px;
  top:11px;
  width:136px;
  word-wrap:break-word;
}
#u26269_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1001px;
  height:2px;
}
#u26269 {
  position:absolute;
  left:100px;
  top:2034px;
  width:1000px;
  height:1px;
}
#u26270 {
  position:absolute;
  left:2px;
  top:-8px;
  width:996px;
  visibility:hidden;
  word-wrap:break-word;
}
#u26271_div {
  position:absolute;
  left:0px;
  top:0px;
  width:784px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u26271 {
  position:absolute;
  left:163px;
  top:2066px;
  width:784px;
  height:22px;
  font-size:16px;
}
#u26272 {
  position:absolute;
  left:0px;
  top:0px;
  width:784px;
  white-space:nowrap;
}
#u26273_div {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:46px;
  background:inherit;
  background-color:rgba(255, 102, 102, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u26273 {
  position:absolute;
  left:980px;
  top:55px;
  width:120px;
  height:46px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u26274 {
  position:absolute;
  left:2px;
  top:14px;
  width:116px;
  word-wrap:break-word;
}
#u26275_div {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:38px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#999999;
}
#u26275 {
  position:absolute;
  left:447px;
  top:507px;
  width:82px;
  height:38px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#999999;
}
#u26275_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:38px;
  background:inherit;
  background-color:rgba(201, 201, 201, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#999999;
}
#u26275.mouseOver {
}
#u26276 {
  position:absolute;
  left:2px;
  top:10px;
  width:78px;
  word-wrap:break-word;
}
#u26277_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:57px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0.6);
  border:none;
  border-radius:100px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u26277 {
  position:absolute;
  left:1145px;
  top:798px;
  width:57px;
  height:57px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u26278 {
  position:absolute;
  left:2px;
  top:12px;
  width:53px;
  word-wrap:break-word;
}
#u26279_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:57px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0.6);
  border:none;
  border-radius:100px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u26279 {
  position:absolute;
  left:1145px;
  top:880px;
  width:57px;
  height:57px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u26280 {
  position:absolute;
  left:2px;
  top:12px;
  width:53px;
  word-wrap:break-word;
}
