body {
  margin:0px;
  background-color:rgba(247, 248, 252, 1);
  background-image:none;
  position:static;
  left:auto;
  width:1282px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u11400 {
  position:fixed;
  left:0px;
  top:0px;
  width:1300px;
  height:48px;
  overflow:hidden;
}
#u11400_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:1300px;
  height:48px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-color:rgba(255, 255, 255, 1);
  background-image:none;
}
#u11400_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u11401_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1300px;
  height:48px;
}
#u11401 {
  position:absolute;
  left:0px;
  top:0px;
  width:1300px;
  height:48px;
}
#u11402 {
  position:absolute;
  left:2px;
  top:16px;
  width:1296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11403 {
  position:absolute;
  left:22px;
  top:4px;
}
#u11403_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u11403_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u11404_img {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:40px;
}
#u11404 {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:40px;
}
#u11405 {
  position:absolute;
  left:2px;
  top:12px;
  width:117px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11406 {
  position:fixed;
  left:182px;
  top:14px;
  width:60px;
  height:20px;
  overflow:hidden;
}
#u11406_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:20px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u11406_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u11407_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u11407 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u11407_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u11407.mouseOver {
}
#u11408 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u11409 {
  position:fixed;
  right:228px;
  top:0px;
  width:78px;
  height:48px;
  overflow:hidden;
}
#u11409_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:48px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u11409_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u11410 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u11411_div {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u11411 {
  position:absolute;
  left:28px;
  top:15px;
  width:27px;
  height:18px;
}
#u11412 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u11413_img {
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  height:7px;
}
#u11413 {
  position:absolute;
  left:65px;
  top:21px;
  width:11px;
  height:7px;
}
#u11414 {
  position:absolute;
  left:2px;
  top:-4px;
  width:7px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11415_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:14px;
}
#u11415 {
  position:absolute;
  left:0px;
  top:17px;
  width:21px;
  height:14px;
}
#u11416 {
  position:absolute;
  left:2px;
  top:-1px;
  width:17px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11417 {
  position:fixed;
  right:20px;
  top:1px;
  width:173px;
  height:47px;
  overflow:hidden;
}
#u11417_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  height:47px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u11417_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u11418_div {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:36px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  border:none;
  border-radius:50px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u11418 {
  position:absolute;
  left:129px;
  top:5px;
  width:36px;
  height:36px;
}
#u11419 {
  position:absolute;
  left:2px;
  top:10px;
  width:32px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11420_div {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:36px;
  background:inherit;
  background-color:rgba(51, 153, 255, 1);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u11420 {
  position:absolute;
  left:1px;
  top:5px;
  width:101px;
  height:36px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u11421 {
  position:absolute;
  left:2px;
  top:10px;
  width:97px;
  word-wrap:break-word;
}
#u11422 {
  position:fixed;
  left:-1px;
  top:48px;
  width:1300px;
  height:6px;
  overflow:hidden;
}
#u11422_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:1300px;
  height:6px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:url('../../images/数据总览/u1156_state0.png');
  background-position:left top;
  background-repeat:repeat-x;
  background-attachment:scroll;
  background-size:4px 6px;
}
#u11422_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u11423 {
  position:fixed;
  right:20px;
  top:61px;
  visibility:hidden;
}
#u11423_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u11423_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u11424_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:612px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:0px 5px 10px rgba(0, 0, 0, 0.0980392156862745);
  -webkit-box-shadow:0px 5px 10px rgba(0, 0, 0, 0.0980392156862745);
  box-shadow:0px 5px 10px rgba(0, 0, 0, 0.0980392156862745);
}
#u11424 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:612px;
}
#u11425 {
  position:absolute;
  left:2px;
  top:298px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11426_div {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:50px;
  background:inherit;
  background-color:rgba(0, 204, 204, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u11426 {
  position:absolute;
  left:30px;
  top:232px;
  width:51px;
  height:50px;
}
#u11427 {
  position:absolute;
  left:2px;
  top:17px;
  width:47px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11428_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u11428 {
  position:absolute;
  left:27px;
  top:292px;
  width:57px;
  height:20px;
}
#u11429 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u11430_div {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:50px;
  background:inherit;
  background-color:rgba(0, 204, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u11430 {
  position:absolute;
  left:32px;
  top:18px;
  width:51px;
  height:50px;
}
#u11431 {
  position:absolute;
  left:2px;
  top:17px;
  width:47px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11432_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u11432 {
  position:absolute;
  left:29px;
  top:78px;
  width:57px;
  height:20px;
}
#u11433 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u11434_div {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 51, 51, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u11434 {
  position:absolute;
  left:127px;
  top:18px;
  width:51px;
  height:50px;
}
#u11435 {
  position:absolute;
  left:2px;
  top:17px;
  width:47px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11436_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u11436 {
  position:absolute;
  left:119px;
  top:78px;
  width:71px;
  height:20px;
}
#u11437 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u11438_div {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 153, 153, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u11438 {
  position:absolute;
  left:30px;
  top:127px;
  width:51px;
  height:50px;
}
#u11439 {
  position:absolute;
  left:2px;
  top:17px;
  width:47px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11440_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u11440 {
  position:absolute;
  left:22px;
  top:187px;
  width:71px;
  height:20px;
}
#u11441 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u11442_div {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 153, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u11442 {
  position:absolute;
  left:218px;
  top:127px;
  width:51px;
  height:50px;
}
#u11443 {
  position:absolute;
  left:2px;
  top:17px;
  width:47px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11444_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u11444 {
  position:absolute;
  left:215px;
  top:187px;
  width:57px;
  height:20px;
}
#u11445 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u11446_img {
  position:absolute;
  left:0px;
  top:0px;
  width:246px;
  height:2px;
}
#u11446 {
  position:absolute;
  left:26px;
  top:332px;
  width:245px;
  height:1px;
}
#u11447 {
  position:absolute;
  left:2px;
  top:-8px;
  width:241px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11448_div {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u11448 {
  position:absolute;
  left:118px;
  top:314px;
  width:72px;
  height:35px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u11449 {
  position:absolute;
  left:2px;
  top:8px;
  width:68px;
  word-wrap:break-word;
}
#u11450_div {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:50px;
  background:inherit;
  background-color:rgba(204, 102, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u11450 {
  position:absolute;
  left:29px;
  top:367px;
  width:51px;
  height:50px;
}
#u11451 {
  position:absolute;
  left:2px;
  top:17px;
  width:47px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11452_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u11452 {
  position:absolute;
  left:33px;
  top:427px;
  width:43px;
  height:20px;
}
#u11453 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u11454_div {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 153, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u11454 {
  position:absolute;
  left:126px;
  top:367px;
  width:51px;
  height:50px;
}
#u11455 {
  position:absolute;
  left:2px;
  top:17px;
  width:47px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11456_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u11456 {
  position:absolute;
  left:124px;
  top:427px;
  width:57px;
  height:20px;
}
#u11457 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u11458_div {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:50px;
  background:inherit;
  background-color:rgba(102, 204, 153, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u11458 {
  position:absolute;
  left:220px;
  top:367px;
  width:51px;
  height:50px;
}
#u11459 {
  position:absolute;
  left:2px;
  top:17px;
  width:47px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11460_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u11460 {
  position:absolute;
  left:231px;
  top:427px;
  width:29px;
  height:20px;
}
#u11461 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u11462_div {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:50px;
  background:inherit;
  background-color:rgba(0, 153, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u11462 {
  position:absolute;
  left:29px;
  top:477px;
  width:51px;
  height:50px;
}
#u11463 {
  position:absolute;
  left:2px;
  top:17px;
  width:47px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11464_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u11464 {
  position:absolute;
  left:33px;
  top:537px;
  width:43px;
  height:20px;
}
#u11465 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u11466_div {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:50px;
  background:inherit;
  background-color:rgba(51, 204, 204, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u11466 {
  position:absolute;
  left:126px;
  top:477px;
  width:51px;
  height:50px;
}
#u11467 {
  position:absolute;
  left:2px;
  top:17px;
  width:47px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11468_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u11468 {
  position:absolute;
  left:135px;
  top:537px;
  width:29px;
  height:20px;
}
#u11469 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u11470_div {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:50px;
  background:inherit;
  background-color:rgba(0, 204, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u11470 {
  position:absolute;
  left:127px;
  top:127px;
  width:51px;
  height:50px;
}
#u11471 {
  position:absolute;
  left:2px;
  top:17px;
  width:47px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11472_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u11472 {
  position:absolute;
  left:123px;
  top:187px;
  width:57px;
  height:20px;
}
#u11473 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u11474_div {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:50px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u11474 {
  position:absolute;
  left:125px;
  top:232px;
  width:51px;
  height:50px;
}
#u11475 {
  position:absolute;
  left:2px;
  top:17px;
  width:47px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11476_div {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u11476 {
  position:absolute;
  left:121px;
  top:292px;
  width:56px;
  height:20px;
}
#u11477 {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  white-space:nowrap;
}
#u11478_div {
  position:absolute;
  left:0px;
  top:0px;
  width:298px;
  height:40px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u11478 {
  position:absolute;
  left:1px;
  top:571px;
  width:298px;
  height:40px;
}
#u11479 {
  position:absolute;
  left:2px;
  top:12px;
  width:294px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11480_img {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:18px;
}
#u11480 {
  position:absolute;
  left:97px;
  top:582px;
  width:17px;
  height:18px;
}
#u11481 {
  position:absolute;
  left:2px;
  top:1px;
  width:13px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11482_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u11482 {
  position:absolute;
  left:127px;
  top:581px;
  width:57px;
  height:20px;
}
#u11483 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u11484 {
  position:absolute;
  left:5px;
  top:571px;
  width:294px;
  height:40px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u11485_div {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:50px;
  background:inherit;
  background-color:rgba(51, 153, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u11485 {
  position:absolute;
  left:219px;
  top:18px;
  width:51px;
  height:50px;
}
#u11486 {
  position:absolute;
  left:2px;
  top:17px;
  width:47px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11487_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u11487 {
  position:absolute;
  left:215px;
  top:78px;
  width:57px;
  height:20px;
}
#u11488 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u11489_img {
  position:absolute;
  left:-12px;
  top:0px;
  width:935px;
  height:585px;
}
#u11489 {
  position:absolute;
  left:321px;
  top:163px;
  width:911px;
  height:561px;
}
#u11490 {
  position:absolute;
  left:2px;
  top:272px;
  width:907px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11491_div {
  position:absolute;
  left:0px;
  top:0px;
  width:202px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u11491 {
  position:absolute;
  left:322px;
  top:117px;
  width:202px;
  height:25px;
  font-size:18px;
}
#u11492 {
  position:absolute;
  left:0px;
  top:0px;
  width:202px;
  white-space:nowrap;
}
#u11493_div {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u11493 {
  position:absolute;
  left:547px;
  top:115px;
  width:69px;
  height:30px;
  font-size:12px;
}
#u11494 {
  position:absolute;
  left:2px;
  top:6px;
  width:65px;
  word-wrap:break-word;
}
#u11495_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u11495 {
  position:absolute;
  left:373px;
  top:207px;
  width:29px;
  height:20px;
  color:#999999;
}
#u11496 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u11497_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(0, 153, 255, 1);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u11497 {
  position:absolute;
  left:724px;
  top:653px;
  width:140px;
  height:40px;
}
#u11498 {
  position:absolute;
  left:2px;
  top:11px;
  width:136px;
  word-wrap:break-word;
}
#u11500 {
  position:absolute;
  left:322px;
  top:765px;
  width:960px;
  height:256px;
  overflow:hidden;
}
#u11500_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:960px;
  height:256px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:url('../../images/数据总览/u1224_state0.png');
  background-position:left top;
  background-repeat:repeat-x;
  background-attachment:scroll;
  background-size:37px 504px;
}
#u11500_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u11501 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u11502_div {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:124px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangHK-Regular', 'PingFang HK';
  font-weight:400;
  font-style:normal;
}
#u11502 {
  position:absolute;
  left:491px;
  top:804px;
  width:120px;
  height:124px;
  font-family:'PingFangHK-Regular', 'PingFang HK';
  font-weight:400;
  font-style:normal;
}
#u11503 {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  word-wrap:break-word;
}
#u11504_div {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:180px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangHK-Regular', 'PingFang HK';
  font-weight:400;
  font-style:normal;
}
#u11504 {
  position:absolute;
  left:337px;
  top:804px;
  width:120px;
  height:180px;
  font-family:'PingFangHK-Regular', 'PingFang HK';
  font-weight:400;
  font-style:normal;
}
#u11505 {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  word-wrap:break-word;
}
#u11506_div {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:180px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangHK-Regular', 'PingFang HK';
  font-weight:400;
  font-style:normal;
}
#u11506 {
  position:absolute;
  left:644px;
  top:804px;
  width:120px;
  height:180px;
  font-family:'PingFangHK-Regular', 'PingFang HK';
  font-weight:400;
  font-style:normal;
}
#u11507 {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  word-wrap:break-word;
}
#u11508_div {
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  height:131px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangHK-Regular', 'PingFang HK';
  font-style:normal;
}
#u11508 {
  position:absolute;
  left:798px;
  top:804px;
  width:183px;
  height:131px;
  font-family:'PingFangHK-Regular', 'PingFang HK';
  font-style:normal;
}
#u11509 {
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  word-wrap:break-word;
}
#u11510_img {
  position:absolute;
  left:0px;
  top:0px;
  width:961px;
  height:2px;
}
#u11510 {
  position:absolute;
  left:322px;
  top:966px;
  width:960px;
  height:1px;
  opacity:0.200000002980232;
}
#u11511 {
  position:absolute;
  left:2px;
  top:-8px;
  width:956px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11512_div {
  position:absolute;
  left:0px;
  top:0px;
  width:490px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangHK-Regular', 'PingFang HK';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666A73;
}
#u11512 {
  position:absolute;
  left:337px;
  top:984px;
  width:490px;
  height:17px;
  font-family:'PingFangHK-Regular', 'PingFang HK';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666A73;
}
#u11513 {
  position:absolute;
  left:0px;
  top:0px;
  width:490px;
  white-space:nowrap;
}
#u11514_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:120px;
}
#u11514 {
  position:absolute;
  left:1162px;
  top:804px;
  width:120px;
  height:120px;
}
#u11515 {
  position:absolute;
  left:2px;
  top:52px;
  width:116px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11516_div {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u11516 {
  position:absolute;
  left:373px;
  top:237px;
  width:55px;
  height:25px;
  font-size:18px;
}
#u11517 {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  white-space:nowrap;
}
#u11518_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u11518 {
  position:absolute;
  left:373px;
  top:294px;
  width:29px;
  height:20px;
  color:#999999;
}
#u11519 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u11520_div {
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u11520 {
  position:absolute;
  left:373px;
  top:324px;
  width:168px;
  height:25px;
  font-size:18px;
}
#u11521 {
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  white-space:nowrap;
}
#u11522_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u11522 {
  position:absolute;
  left:373px;
  top:378px;
  width:43px;
  height:20px;
  color:#999999;
}
#u11523 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u11524_div {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u11524 {
  position:absolute;
  left:373px;
  top:408px;
  width:102px;
  height:25px;
  font-size:18px;
}
#u11525 {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  white-space:nowrap;
}
#u11526_div {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u11526 {
  position:absolute;
  left:373px;
  top:465px;
  width:85px;
  height:20px;
  color:#999999;
}
#u11527 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u11528_div {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u11528 {
  position:absolute;
  left:373px;
  top:495px;
  width:70px;
  height:25px;
  font-size:18px;
}
#u11529 {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  white-space:nowrap;
}
#u11530_div {
  position:absolute;
  left:0px;
  top:0px;
  width:211px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u11530 {
  position:absolute;
  left:373px;
  top:564px;
  width:211px;
  height:20px;
  color:#999999;
}
#u11531 {
  position:absolute;
  left:0px;
  top:0px;
  width:211px;
  white-space:nowrap;
}
#u11532_div {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u11532 {
  position:absolute;
  left:373px;
  top:594px;
  width:91px;
  height:25px;
  font-size:18px;
}
#u11533 {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  white-space:nowrap;
}
