body {
  margin:0px;
  background-color:rgba(247, 248, 252, 1);
  background-image:none;
  position:relative;
  left:-0px;
  width:1000px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u27687_img {
  position:absolute;
  left:-28px;
  top:-16px;
  width:968px;
  height:684px;
}
#u27687 {
  position:absolute;
  left:0px;
  top:416px;
  width:912px;
  height:628px;
}
#u27688 {
  position:absolute;
  left:2px;
  top:306px;
  width:908px;
  visibility:hidden;
  word-wrap:break-word;
}
#u27689_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:40px;
}
#u27689 {
  position:absolute;
  left:36px;
  top:902px;
  width:110px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u27690 {
  position:absolute;
  left:2px;
  top:10px;
  width:106px;
  word-wrap:break-word;
}
#u27691_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u27691 {
  position:absolute;
  left:0px;
  top:363px;
  width:73px;
  height:25px;
  font-size:18px;
}
#u27692 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u27693_div {
  position:absolute;
  left:0px;
  top:0px;
  width:863px;
  height:107px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u27693 {
  position:absolute;
  left:26px;
  top:444px;
  width:863px;
  height:107px;
}
#u27694 {
  position:absolute;
  left:2px;
  top:46px;
  width:859px;
  visibility:hidden;
  word-wrap:break-word;
}
#u27695_img {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:177px;
}
#u27695 {
  position:absolute;
  left:715px;
  top:867px;
  width:111px;
  height:177px;
}
#u27696 {
  position:absolute;
  left:2px;
  top:80px;
  width:107px;
  visibility:hidden;
  word-wrap:break-word;
}
#u27697_div {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
  color:#0099FF;
}
#u27697 {
  position:absolute;
  left:715px;
  top:478px;
  width:120px;
  height:40px;
  font-size:28px;
  color:#0099FF;
}
#u27698 {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  white-space:nowrap;
}
#u27699_div {
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:72px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  line-height:24px;
}
#u27699 {
  position:absolute;
  left:50px;
  top:462px;
  width:280px;
  height:72px;
  line-height:24px;
}
#u27700 {
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  white-space:nowrap;
}
#u27701_div {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u27701 {
  position:absolute;
  left:26px;
  top:573px;
  width:85px;
  height:20px;
}
#u27702 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u27703_img {
  position:absolute;
  left:0px;
  top:0px;
  width:856px;
  height:261px;
}
#u27703 {
  position:absolute;
  left:28px;
  top:607px;
  width:856px;
  height:261px;
}
#u27704 {
  position:absolute;
  left:2px;
  top:122px;
  width:852px;
  visibility:hidden;
  word-wrap:break-word;
}
#u27705_div {
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(225, 229, 238, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u27705 {
  position:absolute;
  left:222px;
  top:613px;
  width:131px;
  height:32px;
}
#u27706 {
  position:absolute;
  left:2px;
  top:8px;
  width:127px;
  visibility:hidden;
  word-wrap:break-word;
}
#u27707_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
}
#u27707 {
  position:absolute;
  left:238px;
  top:617px;
  width:100px;
  height:25px;
}
#u27708 {
  position:absolute;
  left:2px;
  top:4px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u27709_img {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:20px;
}
#u27709 {
  position:absolute;
  left:203px;
  top:621px;
  width:17px;
  height:20px;
}
#u27710 {
  position:absolute;
  left:2px;
  top:2px;
  width:13px;
  visibility:hidden;
  word-wrap:break-word;
}
#u27711 {
  position:absolute;
  left:0px;
  top:0px;
  width:1000px;
  height:317px;
  overflow:hidden;
}
#u27711_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:1000px;
  height:317px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:url('../../images/支付/u27711_state0.jpg');
  background-position:center center;
  background-repeat:no-repeat;
  background-attachment:scroll;
  background-size:1920px 317px;
}
#u27711_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u27712_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:317px;
}
#u27712 {
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:317px;
}
#u27713 {
  position:absolute;
  left:2px;
  top:150px;
  width:1916px;
  visibility:hidden;
  word-wrap:break-word;
}
