body {
  margin:0px;
  background-color:rgba(247, 248, 252, 1);
  background-image:none;
  position:static;
  left:auto;
  width:1799px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u25493 {
  position:absolute;
  left:0px;
  top:0px;
  width:1799px;
  height:3231px;
  overflow:hidden;
}
#u25493_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:1799px;
  height:3231px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:url('../../images/报名页面/u25493_state0.jpg');
  background-position:center top;
  background-repeat:no-repeat;
  background-attachment:scroll;
  background-size:1920px 3230px;
}
#u25493_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u25494 {
  position:absolute;
  left:1093px;
  top:937px;
  width:309px;
  height:45px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u25495 {
  position:absolute;
  left:512px;
  top:7px;
  width:96px;
  height:40px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u25496 {
  position:absolute;
  left:1206px;
  top:754px;
  width:196px;
  height:32px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u25497 {
  position:absolute;
  left:947px;
  top:1283px;
  width:157px;
  height:32px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u25498 {
  position:absolute;
  left:1060px;
  top:992px;
  width:142px;
  height:31px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u25499 {
  position:fixed;
  left:0px;
  top:0px;
  width:1301px;
  height:3000px;
  overflow:hidden;
  visibility:hidden;
}
#u25499_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:1301px;
  height:3000px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-color:rgba(40, 44, 53, 0.8);
  background-image:none;
}
#u25499_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u25500 {
  position:fixed;
  left:50%;
  margin-left:-305px;
  top:50%;
  margin-top:-300px;
  width:610px;
  height:600px;
  overflow:hidden;
}
#u25500_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:610px;
  height:600px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-color:rgba(255, 255, 255, 1);
  background-image:none;
}
#u25500_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u25501_img {
  position:absolute;
  left:0px;
  top:0px;
  width:561px;
  height:558px;
}
#u25501 {
  position:absolute;
  left:20px;
  top:18px;
  width:561px;
  height:558px;
}
#u25502 {
  position:absolute;
  left:2px;
  top:271px;
  width:557px;
  visibility:hidden;
  word-wrap:break-word;
}
#u25503_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u25503 {
  position:absolute;
  left:561px;
  top:19px;
  width:20px;
  height:20px;
}
#u25504 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u25505 {
  position:fixed;
  left:0px;
  top:0px;
  width:1301px;
  height:3000px;
  overflow:hidden;
  visibility:hidden;
}
#u25505_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:1301px;
  height:3000px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-color:rgba(40, 44, 53, 0.8);
  background-image:none;
}
#u25505_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u25506 {
  position:fixed;
  left:50%;
  margin-left:-458px;
  top:50%;
  margin-top:-312px;
  width:916px;
  height:624px;
  overflow:hidden;
}
#u25506_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:916px;
  height:624px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-color:rgba(255, 255, 255, 1);
  background-image:none;
}
#u25506_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u25507_img {
  position:absolute;
  left:0px;
  top:0px;
  width:880px;
  height:582px;
}
#u25507 {
  position:absolute;
  left:16px;
  top:19px;
  width:880px;
  height:582px;
}
#u25508 {
  position:absolute;
  left:2px;
  top:283px;
  width:876px;
  visibility:hidden;
  word-wrap:break-word;
}
#u25509_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u25509 {
  position:absolute;
  left:876px;
  top:19px;
  width:20px;
  height:20px;
}
#u25510 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u25511 {
  position:fixed;
  left:0px;
  top:0px;
  width:1301px;
  height:3000px;
  overflow:hidden;
  visibility:hidden;
}
#u25511_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:1301px;
  height:3000px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-color:rgba(40, 44, 53, 0.8);
  background-image:none;
}
#u25511_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u25512 {
  position:fixed;
  left:50%;
  margin-left:-305px;
  top:50%;
  margin-top:-288px;
  width:610px;
  height:576px;
  overflow:hidden;
}
#u25512_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:610px;
  height:576px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-color:rgba(255, 255, 255, 1);
  background-image:none;
}
#u25512_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u25513_img {
  position:absolute;
  left:0px;
  top:0px;
  width:551px;
  height:846px;
}
#u25513 {
  position:absolute;
  left:16px;
  top:0px;
  width:551px;
  height:846px;
}
#u25514 {
  position:absolute;
  left:2px;
  top:415px;
  width:547px;
  visibility:hidden;
  word-wrap:break-word;
}
#u25515_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u25515 {
  position:absolute;
  left:561px;
  top:19px;
  width:20px;
  height:20px;
}
#u25516 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
