body {
  margin:0px;
  background-color:rgba(247, 248, 252, 1);
  background-image:none;
  position:static;
  left:auto;
  width:1799px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u26065 {
  position:absolute;
  left:0px;
  top:0px;
  width:1799px;
  height:3231px;
  overflow:hidden;
}
#u26065_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:1799px;
  height:3231px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:url('../../images/报名页面/u26065_state0.jpg');
  background-position:center top;
  background-repeat:no-repeat;
  background-attachment:scroll;
  background-size:1920px 3230px;
}
#u26065_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u26066 {
  position:absolute;
  left:1093px;
  top:937px;
  width:309px;
  height:45px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u26067 {
  position:absolute;
  left:512px;
  top:7px;
  width:96px;
  height:40px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u26068 {
  position:absolute;
  left:1206px;
  top:754px;
  width:196px;
  height:32px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u26069 {
  position:absolute;
  left:947px;
  top:1283px;
  width:157px;
  height:32px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u26070 {
  position:absolute;
  left:1060px;
  top:992px;
  width:142px;
  height:31px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u26071 {
  position:fixed;
  left:0px;
  top:0px;
  width:1301px;
  height:3000px;
  overflow:hidden;
  visibility:hidden;
}
#u26071_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:1301px;
  height:3000px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-color:rgba(40, 44, 53, 0.8);
  background-image:none;
}
#u26071_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u26072 {
  position:fixed;
  left:50%;
  margin-left:-305px;
  top:50%;
  margin-top:-300px;
  width:610px;
  height:600px;
  overflow:hidden;
}
#u26072_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:610px;
  height:600px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-color:rgba(255, 255, 255, 1);
  background-image:none;
}
#u26072_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u26073_img {
  position:absolute;
  left:0px;
  top:0px;
  width:561px;
  height:558px;
}
#u26073 {
  position:absolute;
  left:20px;
  top:18px;
  width:561px;
  height:558px;
}
#u26074 {
  position:absolute;
  left:2px;
  top:271px;
  width:557px;
  visibility:hidden;
  word-wrap:break-word;
}
#u26075_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u26075 {
  position:absolute;
  left:561px;
  top:19px;
  width:20px;
  height:20px;
}
#u26076 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u26077 {
  position:fixed;
  left:0px;
  top:0px;
  width:1301px;
  height:3000px;
  overflow:hidden;
  visibility:hidden;
}
#u26077_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:1301px;
  height:3000px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-color:rgba(40, 44, 53, 0.8);
  background-image:none;
}
#u26077_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u26078 {
  position:fixed;
  left:50%;
  margin-left:-458px;
  top:50%;
  margin-top:-312px;
  width:916px;
  height:624px;
  overflow:hidden;
}
#u26078_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:916px;
  height:624px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-color:rgba(255, 255, 255, 1);
  background-image:none;
}
#u26078_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u26079_img {
  position:absolute;
  left:0px;
  top:0px;
  width:880px;
  height:582px;
}
#u26079 {
  position:absolute;
  left:16px;
  top:19px;
  width:880px;
  height:582px;
}
#u26080 {
  position:absolute;
  left:2px;
  top:283px;
  width:876px;
  visibility:hidden;
  word-wrap:break-word;
}
#u26081_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u26081 {
  position:absolute;
  left:876px;
  top:19px;
  width:20px;
  height:20px;
}
#u26082 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u26083 {
  position:fixed;
  left:0px;
  top:0px;
  width:1301px;
  height:3000px;
  overflow:hidden;
  visibility:hidden;
}
#u26083_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:1301px;
  height:3000px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-color:rgba(40, 44, 53, 0.8);
  background-image:none;
}
#u26083_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u26084 {
  position:fixed;
  left:50%;
  margin-left:-305px;
  top:50%;
  margin-top:-288px;
  width:610px;
  height:576px;
  overflow:hidden;
}
#u26084_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:610px;
  height:576px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-color:rgba(255, 255, 255, 1);
  background-image:none;
}
#u26084_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u26085_img {
  position:absolute;
  left:0px;
  top:0px;
  width:551px;
  height:846px;
}
#u26085 {
  position:absolute;
  left:16px;
  top:0px;
  width:551px;
  height:846px;
}
#u26086 {
  position:absolute;
  left:2px;
  top:415px;
  width:547px;
  visibility:hidden;
  word-wrap:break-word;
}
#u26087_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u26087 {
  position:absolute;
  left:561px;
  top:19px;
  width:20px;
  height:20px;
}
#u26088 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
