body {
  margin:0px;
  background-color:rgba(247, 248, 252, 1);
  background-image:none;
  position:static;
  left:auto;
  width:1232px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u11826 {
  position:absolute;
  left:0px;
  top:0px;
  width:1301px;
  height:1130px;
  overflow:hidden;
  visibility:hidden;
}
#u11826_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:1301px;
  height:1130px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-color:rgba(40, 44, 53, 0.8);
  background-image:none;
}
#u11826_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u11827 {
  position:fixed;
  left:50%;
  margin-left:-360px;
  top:50%;
  margin-top:-270px;
  width:720px;
  height:540px;
  overflow:hidden;
}
#u11827_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:720px;
  height:540px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u11827_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u11828_img {
  position:absolute;
  left:0px;
  top:0px;
  width:720px;
  height:540px;
}
#u11828 {
  position:absolute;
  left:0px;
  top:0px;
  width:720px;
  height:540px;
}
#u11829 {
  position:absolute;
  left:2px;
  top:262px;
  width:716px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11830_div {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u11830 {
  position:absolute;
  left:27px;
  top:22px;
  width:109px;
  height:25px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u11831 {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  white-space:nowrap;
}
#u11832_img {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:23px;
}
#u11832 {
  position:absolute;
  left:667px;
  top:23px;
  width:23px;
  height:23px;
}
#u11833 {
  position:absolute;
  left:2px;
  top:4px;
  width:19px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11834_img {
  position:absolute;
  left:-6px;
  top:-4px;
  width:102px;
  height:52px;
}
#u11834 {
  position:absolute;
  left:490px;
  top:310px;
  width:90px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u11835 {
  position:absolute;
  left:2px;
  top:10px;
  width:86px;
  word-wrap:break-word;
}
#u11836_div {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u11836 {
  position:absolute;
  left:160px;
  top:77px;
  width:145px;
  height:25px;
  font-size:18px;
}
#u11837 {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  white-space:nowrap;
}
#u11838_div {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u11838 {
  position:absolute;
  left:160px;
  top:119px;
  width:79px;
  height:18px;
  color:#999999;
}
#u11839 {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  white-space:nowrap;
}
#u11840_div {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:18px;
  color:#FF9900;
}
#u11840 {
  position:absolute;
  left:238px;
  top:117px;
  width:59px;
  height:25px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:18px;
  color:#FF9900;
}
#u11841 {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  white-space:nowrap;
}
#u11842_div {
  position:absolute;
  left:0px;
  top:0px;
  width:257px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u11842 {
  position:absolute;
  left:160px;
  top:152px;
  width:257px;
  height:18px;
}
#u11843 {
  position:absolute;
  left:0px;
  top:0px;
  width:257px;
  white-space:nowrap;
}
#u11844_img {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:93px;
}
#u11844 {
  position:absolute;
  left:27px;
  top:77px;
  width:93px;
  height:93px;
}
#u11845 {
  position:absolute;
  left:2px;
  top:38px;
  width:89px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11846 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u11847_div {
  position:absolute;
  left:0px;
  top:0px;
  width:663px;
  height:140px;
  background:inherit;
  background-color:rgba(255, 153, 0, 0.109803921568627);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 153, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u11847 {
  position:absolute;
  left:27px;
  top:370px;
  width:663px;
  height:140px;
}
#u11848 {
  position:absolute;
  left:2px;
  top:62px;
  width:659px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11849_div {
  position:absolute;
  left:0px;
  top:0px;
  width:558px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF9900;
}
#u11849 {
  position:absolute;
  left:67px;
  top:443px;
  width:558px;
  height:36px;
  color:#FF9900;
}
#u11850 {
  position:absolute;
  left:0px;
  top:0px;
  width:558px;
  white-space:nowrap;
}
#u11851_div {
  position:absolute;
  left:0px;
  top:0px;
  width:574px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF9900;
}
#u11851 {
  position:absolute;
  left:67px;
  top:391px;
  width:574px;
  height:36px;
  color:#FF9900;
}
#u11852 {
  position:absolute;
  left:0px;
  top:0px;
  width:574px;
  word-wrap:break-word;
}
#u11853_img {
  position:absolute;
  left:-6px;
  top:-4px;
  width:102px;
  height:52px;
}
#u11853 {
  position:absolute;
  left:600px;
  top:310px;
  width:90px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u11854 {
  position:absolute;
  left:2px;
  top:10px;
  width:86px;
  word-wrap:break-word;
}
#u11855_div {
  position:absolute;
  left:0px;
  top:0px;
  width:663px;
  height:100px;
  background:inherit;
  background-color:rgba(10, 136, 255, 0.109803921568627);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(10, 136, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u11855 {
  position:absolute;
  left:27px;
  top:190px;
  width:663px;
  height:100px;
}
#u11856 {
  position:absolute;
  left:2px;
  top:42px;
  width:659px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11857 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u11858_div {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u11858 {
  position:absolute;
  left:61px;
  top:209px;
  width:40px;
  height:18px;
}
#u11859 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u11860_div {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u11860 {
  position:absolute;
  left:130px;
  top:209px;
  width:74px;
  height:18px;
}
#u11861 {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  white-space:nowrap;
}
#u11862_div {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u11862 {
  position:absolute;
  left:248px;
  top:209px;
  width:116px;
  height:18px;
}
#u11863 {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  white-space:nowrap;
}
#u11864_div {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u11864 {
  position:absolute;
  left:410px;
  top:209px;
  width:66px;
  height:18px;
}
#u11865 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u11866_div {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(210, 214, 223, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u11866 {
  position:absolute;
  left:486px;
  top:203px;
  width:30px;
  height:30px;
}
#u11867 {
  position:absolute;
  left:2px;
  top:6px;
  width:26px;
  word-wrap:break-word;
}
#u11868_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:35px;
}
#u11868 {
  position:absolute;
  left:520px;
  top:199px;
  width:22px;
  height:35px;
}
#u11869 {
  position:absolute;
  left:2px;
  top:10px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11870_div {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u11870 {
  position:absolute;
  left:568px;
  top:209px;
  width:66px;
  height:18px;
}
#u11871 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u11872_div {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  color:#FF9900;
}
#u11872 {
  position:absolute;
  left:634px;
  top:209px;
  width:38px;
  height:18px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  color:#FF9900;
}
#u11873 {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  white-space:nowrap;
}
#u11874 {
  position:absolute;
  left:42px;
  top:210px;
  width:23px;
  height:16px;
}
#u11875 {
  position:absolute;
  left:16px;
  top:0px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11874_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u11876 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u11877_div {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#0A88FF;
}
#u11877 {
  position:absolute;
  left:62px;
  top:252px;
  width:33px;
  height:18px;
  opacity:0.5;
  color:#0A88FF;
}
#u11878 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u11879_div {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#0A88FF;
}
#u11879 {
  position:absolute;
  left:130px;
  top:252px;
  width:74px;
  height:18px;
  opacity:0.5;
  color:#0A88FF;
}
#u11880 {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  white-space:nowrap;
}
#u11881_div {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#0A88FF;
}
#u11881 {
  position:absolute;
  left:248px;
  top:252px;
  width:116px;
  height:18px;
  opacity:0.5;
  color:#0A88FF;
}
#u11882 {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  white-space:nowrap;
}
#u11883_div {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#0A88FF;
}
#u11883 {
  position:absolute;
  left:410px;
  top:252px;
  width:66px;
  height:18px;
  opacity:0.5;
  color:#0A88FF;
}
#u11884 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u11885_div {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(210, 214, 223, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#0A88FF;
}
#u11885 {
  position:absolute;
  left:486px;
  top:246px;
  width:30px;
  height:30px;
  opacity:0.5;
  color:#0A88FF;
}
#u11886 {
  position:absolute;
  left:2px;
  top:6px;
  width:26px;
  word-wrap:break-word;
}
#u11887_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:35px;
}
#u11887 {
  position:absolute;
  left:520px;
  top:242px;
  width:22px;
  height:35px;
  opacity:0.5;
  color:#0A88FF;
}
#u11888 {
  position:absolute;
  left:2px;
  top:10px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11889_div {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#0A88FF;
}
#u11889 {
  position:absolute;
  left:568px;
  top:252px;
  width:66px;
  height:18px;
  opacity:0.5;
  color:#0A88FF;
}
#u11890 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u11891_div {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  color:#0A88FF;
}
#u11891 {
  position:absolute;
  left:634px;
  top:252px;
  width:38px;
  height:18px;
  opacity:0.5;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  color:#0A88FF;
}
#u11892 {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  white-space:nowrap;
}
#u11893 {
  position:absolute;
  left:42px;
  top:254px;
  width:23px;
  height:16px;
}
#u11894 {
  position:absolute;
  left:16px;
  top:0px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11893_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u11896 {
  position:fixed;
  left:0px;
  top:0px;
  width:1300px;
  height:48px;
  overflow:hidden;
}
#u11896_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:1300px;
  height:48px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-color:rgba(255, 255, 255, 1);
  background-image:none;
}
#u11896_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u11897_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1300px;
  height:48px;
}
#u11897 {
  position:absolute;
  left:0px;
  top:0px;
  width:1300px;
  height:48px;
}
#u11898 {
  position:absolute;
  left:2px;
  top:16px;
  width:1296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11899 {
  position:absolute;
  left:22px;
  top:9px;
}
#u11899_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u11899_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u11900_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:30px;
}
#u11900 {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:30px;
}
#u11901 {
  position:absolute;
  left:2px;
  top:7px;
  width:116px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11902 {
  position:fixed;
  left:173px;
  top:14px;
  width:60px;
  height:20px;
  overflow:hidden;
}
#u11902_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:20px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u11902_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u11903_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u11903 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u11903_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u11903.mouseOver {
}
#u11904 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u11905 {
  position:fixed;
  right:228px;
  top:0px;
  width:78px;
  height:48px;
  overflow:hidden;
}
#u11905_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:48px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u11905_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u11906 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u11907_div {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u11907 {
  position:absolute;
  left:28px;
  top:15px;
  width:27px;
  height:18px;
}
#u11908 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u11909_img {
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  height:7px;
}
#u11909 {
  position:absolute;
  left:65px;
  top:21px;
  width:11px;
  height:7px;
}
#u11910 {
  position:absolute;
  left:2px;
  top:-4px;
  width:7px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11911_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:14px;
}
#u11911 {
  position:absolute;
  left:0px;
  top:17px;
  width:21px;
  height:14px;
}
#u11912 {
  position:absolute;
  left:2px;
  top:-1px;
  width:17px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11913 {
  position:fixed;
  right:20px;
  top:1px;
  width:173px;
  height:47px;
  overflow:hidden;
}
#u11913_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  height:47px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u11913_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u11914_div {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:36px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  border:none;
  border-radius:50px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u11914 {
  position:absolute;
  left:129px;
  top:5px;
  width:36px;
  height:36px;
}
#u11915 {
  position:absolute;
  left:2px;
  top:10px;
  width:32px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11916_div {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:36px;
  background:inherit;
  background-color:rgba(51, 153, 255, 1);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u11916 {
  position:absolute;
  left:1px;
  top:5px;
  width:101px;
  height:36px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u11917 {
  position:absolute;
  left:2px;
  top:10px;
  width:97px;
  word-wrap:break-word;
}
#u11918 {
  position:fixed;
  left:-1px;
  top:48px;
  width:1300px;
  height:6px;
  overflow:hidden;
}
#u11918_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:1300px;
  height:6px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:url('../../images/index/u23_state0.png');
  background-position:left top;
  background-repeat:repeat-x;
  background-attachment:scroll;
  background-size:4px 6px;
}
#u11918_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u11919 {
  position:fixed;
  right:20px;
  top:61px;
  visibility:hidden;
}
#u11919_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u11919_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u11920_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:612px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:0px 5px 10px rgba(0, 0, 0, 0.0980392156862745);
  -webkit-box-shadow:0px 5px 10px rgba(0, 0, 0, 0.0980392156862745);
  box-shadow:0px 5px 10px rgba(0, 0, 0, 0.0980392156862745);
}
#u11920 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:612px;
}
#u11921 {
  position:absolute;
  left:2px;
  top:298px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11922_div {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:50px;
  background:inherit;
  background-color:rgba(0, 204, 204, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u11922 {
  position:absolute;
  left:218px;
  top:127px;
  width:51px;
  height:50px;
}
#u11923 {
  position:absolute;
  left:2px;
  top:17px;
  width:47px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11924_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u11924 {
  position:absolute;
  left:215px;
  top:187px;
  width:57px;
  height:20px;
}
#u11925 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u11926_div {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:50px;
  background:inherit;
  background-color:rgba(0, 204, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u11926 {
  position:absolute;
  left:32px;
  top:18px;
  width:51px;
  height:50px;
}
#u11927 {
  position:absolute;
  left:2px;
  top:17px;
  width:47px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11928_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u11928 {
  position:absolute;
  left:29px;
  top:78px;
  width:57px;
  height:20px;
}
#u11929 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u11930_div {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:50px;
  background:inherit;
  background-color:rgba(51, 153, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u11930 {
  position:absolute;
  left:127px;
  top:18px;
  width:51px;
  height:50px;
}
#u11931 {
  position:absolute;
  left:2px;
  top:17px;
  width:47px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11932_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u11932 {
  position:absolute;
  left:116px;
  top:78px;
  width:71px;
  height:20px;
}
#u11933 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u11934_div {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 153, 153, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u11934 {
  position:absolute;
  left:218px;
  top:18px;
  width:51px;
  height:50px;
}
#u11935 {
  position:absolute;
  left:2px;
  top:17px;
  width:47px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11936_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u11936 {
  position:absolute;
  left:210px;
  top:78px;
  width:71px;
  height:20px;
}
#u11937 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u11938_div {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 153, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u11938 {
  position:absolute;
  left:126px;
  top:127px;
  width:51px;
  height:50px;
}
#u11939 {
  position:absolute;
  left:2px;
  top:17px;
  width:47px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11940_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u11940 {
  position:absolute;
  left:123px;
  top:187px;
  width:57px;
  height:20px;
}
#u11941 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u11942_img {
  position:absolute;
  left:0px;
  top:0px;
  width:246px;
  height:2px;
}
#u11942 {
  position:absolute;
  left:26px;
  top:332px;
  width:245px;
  height:1px;
}
#u11943 {
  position:absolute;
  left:2px;
  top:-8px;
  width:241px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11944_div {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u11944 {
  position:absolute;
  left:118px;
  top:314px;
  width:72px;
  height:35px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u11945 {
  position:absolute;
  left:2px;
  top:8px;
  width:68px;
  word-wrap:break-word;
}
#u11946_div {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:50px;
  background:inherit;
  background-color:rgba(204, 102, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u11946 {
  position:absolute;
  left:29px;
  top:367px;
  width:51px;
  height:50px;
}
#u11947 {
  position:absolute;
  left:2px;
  top:17px;
  width:47px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11948_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u11948 {
  position:absolute;
  left:33px;
  top:427px;
  width:43px;
  height:20px;
}
#u11949 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u11950_div {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 153, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u11950 {
  position:absolute;
  left:126px;
  top:367px;
  width:51px;
  height:50px;
}
#u11951 {
  position:absolute;
  left:2px;
  top:17px;
  width:47px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11952_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u11952 {
  position:absolute;
  left:124px;
  top:427px;
  width:57px;
  height:20px;
}
#u11953 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u11954_div {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:50px;
  background:inherit;
  background-color:rgba(102, 204, 153, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u11954 {
  position:absolute;
  left:220px;
  top:367px;
  width:51px;
  height:50px;
}
#u11955 {
  position:absolute;
  left:2px;
  top:17px;
  width:47px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11956_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u11956 {
  position:absolute;
  left:231px;
  top:427px;
  width:29px;
  height:20px;
}
#u11957 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u11958_div {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:50px;
  background:inherit;
  background-color:rgba(0, 153, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u11958 {
  position:absolute;
  left:29px;
  top:477px;
  width:51px;
  height:50px;
}
#u11959 {
  position:absolute;
  left:2px;
  top:17px;
  width:47px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11960_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u11960 {
  position:absolute;
  left:33px;
  top:537px;
  width:43px;
  height:20px;
}
#u11961 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u11962_div {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:50px;
  background:inherit;
  background-color:rgba(51, 204, 204, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u11962 {
  position:absolute;
  left:126px;
  top:477px;
  width:51px;
  height:50px;
}
#u11963 {
  position:absolute;
  left:2px;
  top:17px;
  width:47px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11964_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u11964 {
  position:absolute;
  left:135px;
  top:537px;
  width:29px;
  height:20px;
}
#u11965 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u11966_div {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:50px;
  background:inherit;
  background-color:rgba(0, 204, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u11966 {
  position:absolute;
  left:30px;
  top:127px;
  width:51px;
  height:50px;
}
#u11967 {
  position:absolute;
  left:2px;
  top:17px;
  width:47px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11968_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u11968 {
  position:absolute;
  left:26px;
  top:187px;
  width:57px;
  height:20px;
}
#u11969 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u11970_div {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:50px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u11970 {
  position:absolute;
  left:28px;
  top:232px;
  width:51px;
  height:50px;
}
#u11971 {
  position:absolute;
  left:2px;
  top:17px;
  width:47px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11972_div {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u11972 {
  position:absolute;
  left:24px;
  top:292px;
  width:56px;
  height:20px;
}
#u11973 {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  white-space:nowrap;
}
#u11974_div {
  position:absolute;
  left:0px;
  top:0px;
  width:298px;
  height:40px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u11974 {
  position:absolute;
  left:1px;
  top:571px;
  width:298px;
  height:40px;
}
#u11975 {
  position:absolute;
  left:2px;
  top:12px;
  width:294px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11976_img {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:18px;
}
#u11976 {
  position:absolute;
  left:97px;
  top:582px;
  width:17px;
  height:18px;
}
#u11977 {
  position:absolute;
  left:2px;
  top:1px;
  width:13px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11978_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u11978 {
  position:absolute;
  left:127px;
  top:581px;
  width:57px;
  height:20px;
}
#u11979 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u11980 {
  position:absolute;
  left:5px;
  top:571px;
  width:294px;
  height:40px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u11981_div {
  position:absolute;
  left:0px;
  top:0px;
  width:215px;
  height:70px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:4px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u11981 {
  position:absolute;
  left:546px;
  top:94px;
  width:215px;
  height:70px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u11982 {
  position:absolute;
  left:2px;
  top:24px;
  width:211px;
  word-wrap:break-word;
}
#u11983_img {
  position:absolute;
  left:-12px;
  top:0px;
  width:935px;
  height:729px;
}
#u11983 {
  position:absolute;
  left:321px;
  top:163px;
  width:911px;
  height:705px;
}
#u11984 {
  position:absolute;
  left:2px;
  top:344px;
  width:907px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11985_div {
  position:absolute;
  left:0px;
  top:0px;
  width:215px;
  height:63px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0.67843137254902);
  border:none;
  border-radius:4px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#999999;
  text-align:left;
}
#u11985 {
  position:absolute;
  left:321px;
  top:94px;
  width:215px;
  height:63px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#999999;
  text-align:left;
}
#u11985_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:215px;
  height:63px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:4px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#999999;
  text-align:left;
}
#u11985.mouseOver {
}
#u11986 {
  position:absolute;
  left:2px;
  top:22px;
  width:211px;
  word-wrap:break-word;
}
#u11987_img {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
}
#u11987 {
  position:absolute;
  left:342px;
  top:117px;
  width:18px;
  height:18px;
}
#u11988 {
  position:absolute;
  left:2px;
  top:1px;
  width:14px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11989_img {
  position:absolute;
  left:0px;
  top:0px;
  width:652px;
  height:2px;
}
#u11989 {
  position:absolute;
  left:451px;
  top:207px;
  width:651px;
  height:1px;
}
#u11990 {
  position:absolute;
  left:2px;
  top:-8px;
  width:647px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11991_div {
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  height:41px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#999999;
}
#u11991 {
  position:absolute;
  left:705px;
  top:187px;
  width:142px;
  height:41px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#999999;
}
#u11992 {
  position:absolute;
  left:2px;
  top:12px;
  width:138px;
  word-wrap:break-word;
}
#u11993_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:17px;
}
#u11993 {
  position:absolute;
  left:565px;
  top:121px;
  width:15px;
  height:17px;
}
#u11994 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11995_img {
  position:absolute;
  left:0px;
  top:0px;
  width:868px;
  height:599px;
}
#u11995 {
  position:absolute;
  left:342px;
  top:238px;
  width:868px;
  height:599px;
}
#u11996 {
  position:absolute;
  left:2px;
  top:292px;
  width:864px;
  visibility:hidden;
  word-wrap:break-word;
}
