body {
  margin:0px;
  background-color:rgba(247, 248, 252, 1);
  background-image:none;
  position:relative;
  left:-57px;
  width:1129px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u28763_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:39px;
}
#u28763 {
  position:absolute;
  left:57px;
  top:59px;
  width:50px;
  height:39px;
}
#u28764 {
  position:absolute;
  left:2px;
  top:12px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28765_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:50px;
}
#u28765 {
  position:absolute;
  left:153px;
  top:54px;
  width:29px;
  height:50px;
}
#u28766 {
  position:absolute;
  left:2px;
  top:17px;
  width:25px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28767_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:50px;
}
#u28767 {
  position:absolute;
  left:210px;
  top:54px;
  width:29px;
  height:50px;
}
#u28768 {
  position:absolute;
  left:2px;
  top:17px;
  width:25px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28769_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:29px;
}
#u28769 {
  position:absolute;
  left:265px;
  top:65px;
  width:50px;
  height:29px;
}
#u28770 {
  position:absolute;
  left:2px;
  top:6px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28771_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:29px;
}
#u28771 {
  position:absolute;
  left:353px;
  top:65px;
  width:50px;
  height:29px;
}
#u28772 {
  position:absolute;
  left:2px;
  top:6px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28773_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:47px;
}
#u28773 {
  position:absolute;
  left:454px;
  top:65px;
  width:50px;
  height:47px;
}
#u28774 {
  position:absolute;
  left:2px;
  top:16px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28775_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:31px;
}
#u28775 {
  position:absolute;
  left:540px;
  top:73px;
  width:50px;
  height:31px;
}
#u28776 {
  position:absolute;
  left:2px;
  top:8px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28777_img {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:50px;
}
#u28777 {
  position:absolute;
  left:626px;
  top:65px;
  width:46px;
  height:50px;
}
#u28778 {
  position:absolute;
  left:2px;
  top:17px;
  width:42px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28779_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:46px;
}
#u28779 {
  position:absolute;
  left:720px;
  top:73px;
  width:50px;
  height:46px;
}
#u28780 {
  position:absolute;
  left:2px;
  top:15px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28781_img {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:50px;
}
#u28781 {
  position:absolute;
  left:814px;
  top:73px;
  width:42px;
  height:50px;
}
#u28782 {
  position:absolute;
  left:2px;
  top:17px;
  width:38px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28783_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:43px;
}
#u28783 {
  position:absolute;
  left:903px;
  top:77px;
  width:50px;
  height:43px;
}
#u28784 {
  position:absolute;
  left:2px;
  top:14px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28785_img {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:50px;
}
#u28785 {
  position:absolute;
  left:61px;
  top:159px;
  width:46px;
  height:50px;
}
#u28786 {
  position:absolute;
  left:2px;
  top:17px;
  width:42px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28787_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:43px;
}
#u28787 {
  position:absolute;
  left:153px;
  top:166px;
  width:50px;
  height:43px;
}
#u28788 {
  position:absolute;
  left:2px;
  top:14px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28789_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:28px;
}
#u28789 {
  position:absolute;
  left:228px;
  top:174px;
  width:50px;
  height:28px;
}
#u28790 {
  position:absolute;
  left:2px;
  top:6px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28791_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u28791 {
  position:absolute;
  left:318px;
  top:159px;
  width:50px;
  height:50px;
}
#u28792 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28793_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:38px;
}
#u28793 {
  position:absolute;
  left:408px;
  top:171px;
  width:50px;
  height:38px;
}
#u28794 {
  position:absolute;
  left:2px;
  top:11px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28795_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u28795 {
  position:absolute;
  left:485px;
  top:159px;
  width:50px;
  height:50px;
}
#u28796 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28797_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u28797 {
  position:absolute;
  left:571px;
  top:166px;
  width:50px;
  height:50px;
}
#u28798 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28799_img {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:50px;
}
#u28799 {
  position:absolute;
  left:671px;
  top:166px;
  width:36px;
  height:50px;
}
#u28800 {
  position:absolute;
  left:2px;
  top:17px;
  width:32px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28801_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u28801 {
  position:absolute;
  left:755px;
  top:166px;
  width:50px;
  height:50px;
}
#u28802 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28803_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:43px;
}
#u28803 {
  position:absolute;
  left:845px;
  top:170px;
  width:50px;
  height:43px;
}
#u28804 {
  position:absolute;
  left:2px;
  top:14px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28805_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:42px;
}
#u28805 {
  position:absolute;
  left:946px;
  top:171px;
  width:50px;
  height:42px;
}
#u28806 {
  position:absolute;
  left:2px;
  top:13px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28807_img {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:50px;
}
#u28807 {
  position:absolute;
  left:65px;
  top:251px;
  width:39px;
  height:50px;
}
#u28808 {
  position:absolute;
  left:2px;
  top:17px;
  width:35px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28809_img {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:50px;
}
#u28809 {
  position:absolute;
  left:160px;
  top:251px;
  width:43px;
  height:50px;
}
#u28810 {
  position:absolute;
  left:2px;
  top:17px;
  width:39px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28811_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:43px;
}
#u28811 {
  position:absolute;
  left:242px;
  top:258px;
  width:50px;
  height:43px;
}
#u28812 {
  position:absolute;
  left:2px;
  top:14px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28813_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:46px;
}
#u28813 {
  position:absolute;
  left:324px;
  top:258px;
  width:50px;
  height:46px;
}
#u28814 {
  position:absolute;
  left:2px;
  top:15px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28815_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:39px;
}
#u28815 {
  position:absolute;
  left:408px;
  top:262px;
  width:50px;
  height:39px;
}
#u28816 {
  position:absolute;
  left:2px;
  top:12px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28817_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:50px;
}
#u28817 {
  position:absolute;
  left:503px;
  top:257px;
  width:14px;
  height:50px;
}
#u28818 {
  position:absolute;
  left:2px;
  top:17px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28819_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:39px;
}
#u28819 {
  position:absolute;
  left:571px;
  top:263px;
  width:50px;
  height:39px;
}
#u28820 {
  position:absolute;
  left:2px;
  top:12px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28821_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u28821 {
  position:absolute;
  left:664px;
  top:254px;
  width:50px;
  height:50px;
}
#u28822 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28823_img {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:50px;
}
#u28823 {
  position:absolute;
  left:755px;
  top:257px;
  width:43px;
  height:50px;
}
#u28824 {
  position:absolute;
  left:2px;
  top:17px;
  width:39px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28825_img {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:50px;
}
#u28825 {
  position:absolute;
  left:849px;
  top:254px;
  width:43px;
  height:50px;
}
#u28826 {
  position:absolute;
  left:2px;
  top:17px;
  width:39px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28827_img {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:50px;
}
#u28827 {
  position:absolute;
  left:953px;
  top:257px;
  width:43px;
  height:50px;
}
#u28828 {
  position:absolute;
  left:2px;
  top:17px;
  width:39px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28829_img {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:50px;
}
#u28829 {
  position:absolute;
  left:61px;
  top:348px;
  width:43px;
  height:50px;
}
#u28830 {
  position:absolute;
  left:2px;
  top:17px;
  width:39px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28831_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:43px;
}
#u28831 {
  position:absolute;
  left:157px;
  top:348px;
  width:50px;
  height:43px;
}
#u28832 {
  position:absolute;
  left:2px;
  top:14px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28833_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:47px;
}
#u28833 {
  position:absolute;
  left:242px;
  top:344px;
  width:50px;
  height:47px;
}
#u28834 {
  position:absolute;
  left:2px;
  top:16px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28835_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u28835 {
  position:absolute;
  left:324px;
  top:341px;
  width:50px;
  height:50px;
}
#u28836 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28837_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:43px;
}
#u28837 {
  position:absolute;
  left:408px;
  top:345px;
  width:50px;
  height:43px;
}
#u28838 {
  position:absolute;
  left:2px;
  top:14px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28839_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:43px;
}
#u28839 {
  position:absolute;
  left:485px;
  top:345px;
  width:50px;
  height:43px;
}
#u28840 {
  position:absolute;
  left:2px;
  top:14px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28841_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:40px;
}
#u28841 {
  position:absolute;
  left:571px;
  top:345px;
  width:50px;
  height:40px;
}
#u28842 {
  position:absolute;
  left:2px;
  top:12px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28843_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:40px;
}
#u28843 {
  position:absolute;
  left:664px;
  top:345px;
  width:50px;
  height:40px;
}
#u28844 {
  position:absolute;
  left:2px;
  top:12px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28845_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u28845 {
  position:absolute;
  left:755px;
  top:335px;
  width:50px;
  height:50px;
}
#u28846 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28847_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:50px;
}
#u28847 {
  position:absolute;
  left:856px;
  top:335px;
  width:29px;
  height:50px;
}
#u28848 {
  position:absolute;
  left:2px;
  top:17px;
  width:25px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28849_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:50px;
}
#u28849 {
  position:absolute;
  left:957px;
  top:335px;
  width:29px;
  height:50px;
}
#u28850 {
  position:absolute;
  left:2px;
  top:17px;
  width:25px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28851_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:50px;
}
#u28851 {
  position:absolute;
  left:1055px;
  top:335px;
  width:33px;
  height:50px;
}
#u28852 {
  position:absolute;
  left:2px;
  top:17px;
  width:29px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28853_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:50px;
}
#u28853 {
  position:absolute;
  left:69px;
  top:442px;
  width:35px;
  height:50px;
}
#u28854 {
  position:absolute;
  left:2px;
  top:17px;
  width:31px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28855_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:50px;
}
#u28855 {
  position:absolute;
  left:167px;
  top:442px;
  width:30px;
  height:50px;
}
#u28856 {
  position:absolute;
  left:2px;
  top:17px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28857_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:33px;
}
#u28857 {
  position:absolute;
  left:242px;
  top:451px;
  width:50px;
  height:33px;
}
#u28858 {
  position:absolute;
  left:2px;
  top:8px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28859_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u28859 {
  position:absolute;
  left:324px;
  top:443px;
  width:50px;
  height:50px;
}
#u28860 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28861_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u28861 {
  position:absolute;
  left:408px;
  top:443px;
  width:50px;
  height:50px;
}
#u28862 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28863_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u28863 {
  position:absolute;
  left:485px;
  top:443px;
  width:50px;
  height:50px;
}
#u28864 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28865_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:48px;
}
#u28865 {
  position:absolute;
  left:571px;
  top:444px;
  width:50px;
  height:48px;
}
#u28866 {
  position:absolute;
  left:2px;
  top:16px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28867_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u28867 {
  position:absolute;
  left:671px;
  top:443px;
  width:50px;
  height:50px;
}
#u28868 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28869_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u28869 {
  position:absolute;
  left:761px;
  top:443px;
  width:50px;
  height:50px;
}
#u28870 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28871_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u28871 {
  position:absolute;
  left:856px;
  top:443px;
  width:50px;
  height:50px;
}
#u28872 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28873_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u28873 {
  position:absolute;
  left:946px;
  top:451px;
  width:50px;
  height:50px;
}
#u28874 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28875_img {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:50px;
}
#u28875 {
  position:absolute;
  left:1055px;
  top:451px;
  width:36px;
  height:50px;
}
#u28876 {
  position:absolute;
  left:2px;
  top:17px;
  width:32px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28877_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:48px;
}
#u28877 {
  position:absolute;
  left:69px;
  top:537px;
  width:50px;
  height:48px;
}
#u28878 {
  position:absolute;
  left:2px;
  top:16px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28879_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:48px;
}
#u28879 {
  position:absolute;
  left:157px;
  top:537px;
  width:50px;
  height:48px;
}
#u28880 {
  position:absolute;
  left:2px;
  top:16px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28881_img {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:50px;
}
#u28881 {
  position:absolute;
  left:242px;
  top:536px;
  width:43px;
  height:50px;
}
#u28882 {
  position:absolute;
  left:2px;
  top:17px;
  width:39px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28883_img {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:50px;
}
#u28883 {
  position:absolute;
  left:333px;
  top:537px;
  width:41px;
  height:50px;
}
#u28884 {
  position:absolute;
  left:2px;
  top:17px;
  width:37px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28885_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u28885 {
  position:absolute;
  left:408px;
  top:537px;
  width:50px;
  height:50px;
}
#u28886 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28887_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:44px;
}
#u28887 {
  position:absolute;
  left:491px;
  top:543px;
  width:50px;
  height:44px;
}
#u28888 {
  position:absolute;
  left:2px;
  top:14px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28889_img {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:50px;
}
#u28889 {
  position:absolute;
  left:573px;
  top:543px;
  width:46px;
  height:50px;
}
#u28890 {
  position:absolute;
  left:2px;
  top:17px;
  width:42px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28891_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:48px;
}
#u28891 {
  position:absolute;
  left:671px;
  top:543px;
  width:50px;
  height:48px;
}
#u28892 {
  position:absolute;
  left:2px;
  top:16px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28893_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u28893 {
  position:absolute;
  left:761px;
  top:541px;
  width:50px;
  height:50px;
}
#u28894 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28895_img {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:50px;
}
#u28895 {
  position:absolute;
  left:860px;
  top:537px;
  width:46px;
  height:50px;
}
#u28896 {
  position:absolute;
  left:2px;
  top:17px;
  width:42px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28897_img {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:50px;
}
#u28897 {
  position:absolute;
  left:948px;
  top:537px;
  width:38px;
  height:50px;
}
#u28898 {
  position:absolute;
  left:2px;
  top:17px;
  width:34px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28899_img {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:50px;
}
#u28899 {
  position:absolute;
  left:1049px;
  top:537px;
  width:46px;
  height:50px;
}
#u28900 {
  position:absolute;
  left:2px;
  top:17px;
  width:42px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28901_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:38px;
}
#u28901 {
  position:absolute;
  left:1136px;
  top:549px;
  width:50px;
  height:38px;
}
#u28902 {
  position:absolute;
  left:2px;
  top:11px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28903_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:36px;
}
#u28903 {
  position:absolute;
  left:69px;
  top:630px;
  width:50px;
  height:36px;
}
#u28904 {
  position:absolute;
  left:2px;
  top:10px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28905_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:41px;
}
#u28905 {
  position:absolute;
  left:160px;
  top:625px;
  width:50px;
  height:41px;
}
#u28906 {
  position:absolute;
  left:2px;
  top:12px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28907_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:40px;
}
#u28907 {
  position:absolute;
  left:242px;
  top:625px;
  width:50px;
  height:40px;
}
#u28908 {
  position:absolute;
  left:2px;
  top:12px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28909_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u28909 {
  position:absolute;
  left:324px;
  top:620px;
  width:50px;
  height:50px;
}
#u28910 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28911_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:38px;
}
#u28911 {
  position:absolute;
  left:408px;
  top:628px;
  width:50px;
  height:38px;
}
#u28912 {
  position:absolute;
  left:2px;
  top:11px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28913_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:32px;
}
#u28913 {
  position:absolute;
  left:491px;
  top:625px;
  width:50px;
  height:32px;
}
#u28914 {
  position:absolute;
  left:2px;
  top:8px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28915_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u28915 {
  position:absolute;
  left:581px;
  top:625px;
  width:50px;
  height:50px;
}
#u28916 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28917_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:40px;
}
#u28917 {
  position:absolute;
  left:761px;
  top:626px;
  width:50px;
  height:40px;
}
#u28918 {
  position:absolute;
  left:2px;
  top:12px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28919_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u28919 {
  position:absolute;
  left:669px;
  top:623px;
  width:50px;
  height:50px;
}
#u28920 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28921_img {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:50px;
}
#u28921 {
  position:absolute;
  left:861px;
  top:616px;
  width:45px;
  height:50px;
}
#u28922 {
  position:absolute;
  left:2px;
  top:17px;
  width:41px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28923_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u28923 {
  position:absolute;
  left:942px;
  top:616px;
  width:50px;
  height:50px;
}
#u28924 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28925_img {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:50px;
}
#u28925 {
  position:absolute;
  left:1049px;
  top:616px;
  width:46px;
  height:50px;
}
#u28926 {
  position:absolute;
  left:2px;
  top:17px;
  width:42px;
  visibility:hidden;
  word-wrap:break-word;
}
